.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.line-height-4{
  line-height:4 !important;
}
.checkbox-position {
  position: absolute;
  left:30px;
 }
 .checkbox-div{
   display: block;
   position: relative;
   padding-left: 15px;
 }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.col-2.fg-line{
  width:50% !important;
  float:left;
}

.col-2.fg-line .form-control{
  display:inline-block !important;  
}

.invalidField{
  border-color: red !important;
    color: red !important;
}
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.8;
}
.loader .preloader {
    display: block;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.login-content:before {
   /* height: 100%;*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #edecec;
    content: "";
    z-index: 0;
}
.main-menu > li > a > i {
    font-size: 24px;
    padding: 10px 0;
}
#sidebar .sidebar-inner .main-menu a{
  height: 45px;
}

header.header, nav.header {
  text-align: left;
  background-color: #1f2833 !important;
  color: #fff;
  padding: 3px 20px 3px 0px;
  z-index: 9999;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  min-height: 70px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
nav.header{
  padding: 3px 20px !important;
}
.header .logo{
  color: #fff;
  width: auto;
  float: left;
}
.header .logo img {
    width: 110px;
  image-rendering: -webkit-optimize-contrast;
}
.login-menu{
  width: auto;
  float: right;
    list-style: none;
    margin: 14px 0;
}
.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header ul li{
    display: inline-block; 
}
.header ul li a{
  padding: 10px;
    display: block;
  color: #fff;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 600;
}
.header ul li a:hover {
    opacity: .7;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  background-color: transparent;
}
.header ul li a .notification {
    font-size: 18px;
    position: relative;
}
.header ul li a .notification .value {
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: -8px;
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    right: -13px;
}
.header ul li a.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  padding: 5px 15px;
  position: relative;
  margin-left: 20px;
}
.header ul li a.button:before{
  content: '\f2fb';
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    top: 50%;
    font-size: 23px;
    left: 20%;
    transform: translate(-20%, -50%);
  opacity: 0;
}
.header ul li a.button:hover{
  border-color: #009999;
  padding: 5px 20px;
}
.header ul li a:hover.button:before{
  opacity: 1;
    transform: translate(0%, -50%);
    left: 7px;
    transition: all 0.3s linear;
}
ul.header-inner{
    padding: 17px 0;
}
ul.header-inner .logo img {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
ul.header-inner li a {
    padding: 0;
}
ul.header-inner li a.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  padding: 5px 15px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
ul.header-inner li a.button:hover{
  border-color: #009999;
  padding: 5px 20px;
}
ul.header-inner li a:hover.button:before{
  opacity: 1;
    transform: translate(0%, -50%);
    left: 7px;
    transition: all 0.3s linear;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.form_btns{
  width: 100%;
  position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}
.sidebar-inner .main-menu:last-child{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.block-header > h2 {
    font-size: 27px;
    font-weight: 700;
    text-transform: capitalize;
}
.white_block{
  float: left;
  width: 100%;
}
.property_view{
  max-height: 200px;
}
.property_view .white_block {
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
}
.property_view .white_block p {
    margin-bottom: 0;
}
.property_thumb {
  float: left;
  width: 100px;
  height: 100%;
  margin-right: 20px;
}
.property_thumb img {
    width: auto;
    height: 100px;
    margin: 0 auto;
    image-rendering: pixelated;
}
.property_detail {
    display: grid;
}
.property_detail h3 {
    margin-top: 0;
    font-size: 18px;
    color: #1aa1ab;
    overflow: hidden;
    height: 38px;
}

.property-icon i {
  font-size: 60px;
  color: #fff;
  border: 4px solid #efefef;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 110px;
}
.add_property_block h1{
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}
.add_property_block h3{
  font-size: 20px;
  color: #efefef;
}
.add_property_block .btn {
  font-size: 20px;
  background-color: transparent;
  border:2px solid #fff;
  color: #fff ;
  font-weight: 600;
  text-transform: initial;
  padding: 16px 40px;
  border-radius: 6px;
  transition: all 0.3s linear;
}
.add_property_block .btn:hover {
  background-color: #fff;
  color: #03A9F4;
  transition: all 0.3s linear;
}
.ts-helper.ac-inac{
  background-color: rgba(76, 175, 80, 0.5);
}
.ts-helper.ac-inac:before{
  background-color: #4CAF50;
}

.ts-helper.ac-ac{
  background-color: rgba(244, 67, 54, 0.5);
}
.ts-helper.ac-ac:before{
  background-color: rgb(244, 67, 54);
}

.btn {
    text-transform: initial;
}
.pointer{
  cursor: pointer;
}
.pdleft{
  padding-left: 0px;
  padding-right: 0px;

}
.pdright{
  padding-right: 0px;  
}
.nopdg{padding-left:0px;padding-right:0px;}
.aditional{padding-right:15px;padding-left:15px;}

/*************** Dashboard ***************/
.home_block{
  padding: 0px 0;
}
.home_block i {
    font-size: 40px;
    color: rgba(255,255,255,0.7);
    position: absolute;
    right: 0;
    top: 5px;
}
.home_block h1{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
    margin:5px 0px;
    line-height: 50px;
}
.home_block .ptih-title {
    font-size: 22px;
    text-transform: capitalize !important;
}
#content{
  transition: all 0.3s linear;
  position: relative;
}
/*************** Application form ***************/
.printview {
  float: left;
  width: 100%;
}
.app_form{
  float: left;
  width: 100%;
  font-size: 17px;
  color: #222;
  font-weight: 500;
}
.app_form .date-picker{
  display: inline-flex;
}
.app_form p .fg-line:not(.form-group) {
    display: initial;
    width: auto;
}
.app_form .form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    font-weight: initial;
}
.app_form .form-control {
    display: initial;
    width: auto;
    height: 34px;
    padding: 6px 12px;
    /* font-family: cursive; */
    font-size: 18px;
    line-height: 0;
    color: #1aa1ab;
    background-color: #fff;
    background-image: none;
    border: 1px solid #1aa1ab;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.app_form .checkbox label, .radio label {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
}
.app_form .radio .input-helper:before {
    top: 3px;
}
.app_form .radio .input-helper:after {
    top: 8px;
}
.app_form .radio input[type="text"] {
    opacity: 1;
    cursor: text;
}
.app_form .form-control.w-9{
  width: 90%;
  max-width: 100%;
}
.app_form .form-control.w-6{
  width: 60%;
  max-width: 100%;
}
.app_form .form-control.w-5{
  width: 50%;
  max-width: 100%;
}
.app_form .form-control.w-4{
  width: 40%;
  max-width: 100%;
}
.app_form .form-control.w-3_5{
  width: 35%;
  max-width: 100%;
}
.app_form .form-control.w-3{
  width: 30%;
  max-width: 100%;
}
.app_form .form-control.w-2{
  width: 20%;
  max-width: 100%;
}
.additional_applicant .col-sm-12, .additional_applicant .col-sm-4{
  padding-right: 0;
  padding-left: 0;
}
.mandatory {
  font-size: 20px;
  color: #f00;
}

/*************** Custom Tooltip ***************/
.custom_tooltip {
    position: relative;
    display: inline-block;
}

.custom_tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1070;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 1s;
    width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #737373;
    border-radius: 2px;
}

.custom_tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #737373 transparent transparent transparent;
}

.custom_tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.border{
  border: 2px solid #1aa1ab;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.cancel_status {
    color: #f00;
    font-weight: bold;
    border: 1px solid;
}
.applied_status {
    color: #4CAF50;
    font-weight: bold;
    border: 1px solid;
}

/*.dash-widget-item{
   min-height: 227px !important;
}*/

.easy-pie .percent:after {
    content: "" !important;
}

.login-navigation > li {
    text-transform: capitalize;
}  

.header-inner ul li button.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
  color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
  padding: 5px 15px;
  position: relative;
  margin-left: 20px;
}

.text-bold{
  font-weight:700 !important;
}
.copylink_view {
    margin-top: 10px;
}
.fw{
  float: left;
  width: 100%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  float: left;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ffffff;
}
@media (min-width: 1200px){
  #content .container {
      width: 95%;
      max-width: 1170px;
  }
}
@media (max-width: 1200px) and (min-width: 769px){
  #content {
      margin-left: 60px;
  }
}
@media screen and (min-width: 769px){
  #sidebar{
    z-index: 100;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    width: 60px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  #sidebar.toggled{
    z-index: 100;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    width: 268px;
    opacity: 1;
    filter: alpha(opacity=1);
  }
  #sidebar .sidebar-inner{
    width: 100%;
    overflow: initial;
  }
  #sidebar .sidebar-inner .main-menu a span{
    display: none;
  }
  #sidebar.toggled .sidebar-inner .main-menu a span{
    display: block;
  }
  .toggled ~ #content{
    margin-left: 280px;
    transition: all 0.3s linear;
  }
  .time_slot .date-picker {
      margin-top: 30px;
      float: left;
  }
  .time_slot .person_limit {
      margin-top: 30px;
      float: left;
  }
  .time_slot .multiple_visiter {
      margin-top: 48px;
      float: left;
  }
}

@media screen and (max-width: 767px){
  .login-menu {
    width: 100%;
    float: initial;
    padding: 0;
  }
  .login-menu ul li {
    display: flex;
  }
  .login-menu ul li a.button{
    margin-left: 10px;
  }
  .header .logo img {
    width: 70px;
  }
  .add_property_block h1{
    font-size: 30px;
  }
  .add_property_block h3{
    font-size: 16px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    width: 100%;
  }
}

@media (max-width: 480px){
  .lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    max-width: 500px;
    width: 80%;
    display: inline-block;
    vertical-align: middle; 
    top: 0%;
    position: relative;
    left: 10%;
    transform: translate(0%, 20%);
  }
  .app_form .form-control{
      width: 100% !important;
      margin-bottom: 10px !important
  }
  .app_form label{
    width: 100%;
  }
  .app_form .date-picker{
    display: table;
  }
  .block-header .pull-right {
      float: initial !important;
      margin-top: 10px;
      width: 100%;
  }
  .submit_btn .btn {
      width: 31%;
  }
}
@media (max-width: 374px){
  .submit_btn .btn {
      width: 100%;
      margin-bottom: 5px;
  } 
}

/*************** Print Application ***************/

@media print {
  body {
    zoom:70%;
  }
  @page :left {
    margin: 0.5cm;
  }
  @page :right {
    margin: 0.5cm;
  }
  header {
    position:fixed;
    top:-10;
    height:20px;
  }
  .app_form .card-body{
    margin-top: -140px;
  }
  .printview{
    page-break-inside: avoid;
  }
  .radio input:checked + .input-helper:after {
    transform: scale(1) !important;
    display: block !important;
    width: 9px !important;
    height: 9px !important;
    background: #009688 !important;
    border-radius: 50% !important;
    top: 8px !important;
    left: 5px !important; 
  }
}

.video{height:587px;padding:0;}
.list{margin-bottom:5px;padding:0;}
.list:last-child{margin-bottom:0px;}
.video iframe{width:100%;height:100%;border:none;padding:5px;}
.no-padding-right{padding-right:0px;}
.no-padding-left{padding-left:0px;}
.five-padding{padding-left:5px;}
.no-padding{padding-left:0px;padding-right:0px;}
.tooltip {
    width: 200px;
}

.button-modified {
    padding: 15px 30px;
    font-size: 26px;
    background: #e09900;
    color: white;
}

@media print {
  .modal {
    visibility: visible;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;
  }
  .modal-dialog {
    visibility: visible !important;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;
  }
}

.required{
  color:red;
}
.print:last-child {
     page-break-after: auto;
}



/* 21-12-2017 */

.header .logo img {
    width: 70px;
    image-rendering: -webkit-optimize-contrast;
}
.new_dashbord .page-container-bg-solid .page-title,.new_dashbord .page-container-bg-solid .page-title small {
    color: #666;
}

.new_dashbord .page-title {
    padding: 0;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    display: block;
    color: #666;
    margin: 0 0 20px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}

.new_dashbord  {
    background: #eef1f5;
}
.new_dashbord .page-container-bg-solid .page-title, .new_dashbord .page-container-bg-solid .page-title small {
    color: #666;
}

.new_dashbord .page-title small {
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 300;
    color: #888;
}

.new_dashbord .page-bar {
    padding: 0;
    background-color: #fff;
    margin-bottom: 20px;
        overflow: hidden;
}
.new_dashbord .page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 10px 6px;
    margin: 0;
    list-style: none;
}
.new_dashbord .page-bar .page-breadcrumb>li {
    display: inline-block;
}
.new_dashbord .page-bar:after, .page-bar:before {
    content: " ";
    display: table;
}
.new_dashbord .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span {
    color: #888;
    font-size: 13px;
    text-shadow: none;
}
.new_dashbord .page-bar .page-toolbar {
    display: inline-block;
    float: right;
}
.new_dashbord iframe {
    width: 100%;
    height: 750px;border:none;
}

.login.register {
 background-color: #fff;
}



.profile-page-both .page-content-wrapper .page-content{background-color:#eef1f5;margin-left: 54px;margin-left: 0;
    padding: 0px 0;}
.profile-page-both .profile {
    background: #fff;
    padding: 20px;
}
.profile-page-both h1.page-title {
    margin: 5px 0 20px;
}
#content.new_dashbord{padding:30px 0px;}


.new_dashbord .tab-content .tab-pane {
    display: block;
}




.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  min-height: 600px;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label.tablbl {
  background: #169ef4;
  border:1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section .tbgt {
  display: none;
  left: 230px;
  min-width: 800px;
  padding: 0px;
  position: absolute;  
  top: 0;
}

.tabordion section .tbgt:after {
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label.tablbl { 
  background: rgba(22,158,244,0.7);
  color: #fff;
}

.tabordion input[name="sections"]:checked ~ .tbgt {
  display: block;
}


@media (max-width: 533px) {


  .tabordion {
    width: 100%;
  }
  
  .tabordion section label.tablbl {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section .tbgt {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section .tbgt:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {


  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {


  .tabordion {
    width: 100%;
  }
}

.register h1.register-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0 auto;
    width: 70%;
}

.btn.red:not(.btn-outline),.btn.blue:not(.btn-outline) {
    color: #fff;
    background-color: #009999 !important;
    border-color: #009999 !important;
    padding: 10px 25px;
}

.btn.redorng:not(.btn-outline) {
    color: #fff;
    background-color: #F06C3B !important;
    border-color: #F06C3B !important;
    padding: 10px 25px;
}


.md-radio-sg .radio-inline{padding-left: 25px !important;}
.header .navbar-collapse.login-header ul li a {
    color: #fff !important;
}
.login .logo{padding:0px !important;}

.loginmsgvalidate .alert.alert-dismissable {
    margin-bottom: 0;
    padding: 3px 15px;
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    right: 0;
}
.loginmsgvalidate .btn.red.resenmailbtn {
    border: none;
    display: block;
    float: right;
    width: 100%;
    background: rgba(91,192,222,0.4) !important;
    color: #000;
    padding: 5px!important;
    text-align: center;
    margin:0px 0 25px;
}
.new_dashbord .form-control[readonly]{background-color:transparent;}
.new_dashbord .tab-pane form .input-sm{
    height: 35px;
    font-size: 14px;
}

.new_dashbord .tab-pane form .mandatory {
  font-size: inherit;
  color: #f00;
}


.property_view .property_thumb {
    float: left;
    width: 100%;
    height: auto;
    margin-right: 0;
}

.property_view .property_thumb img {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    image-rendering: pixelated;
}

.property_view .property_detail {
    display: block;
    width: 100%;
    padding: 15px 0 0;
}
.thumbhimnshu .property_view{max-height:inherit;}
.clearfix:after{display:block;clear:both;content:""}

.property_view .property_thumb {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 75% 0 0 0;
}

.property_view .property_thumb img.img-responsive {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.property_view .white_block{border:solid 1px #ccc;height:90%;}
.property_view .property_detail h3{height:auto;margin-bottom:5px;line-height: 26px;}
.property_thumb .btn-group.dropdown {
    position: absolute;
    right: -15px;
    z-index: 999;
    top: -15px;
    box-shadow:none;
}
.property_thumb button#btn-append-to-to-body {
   
    border: none;
     background-color:#009999;
    height: 47px;
    width: 47px;
    line-height: 0;
    box-shadow:none;
    border-radius: 50% !important;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.property_thumb i.fa.fa-chevron-right {
    position: relative;
    right: 5px;
    top: 5px;
}


.tabordion input[name="sections"]:checked + label.tablbl {
    background: #9ee5e5;
    color: #437c7c;
}

.tabordion section label.tablbl {
    background: #009999;
    color: #fff;
  }
  .fg-line:not([class*="has-"]):after {
    background: #009999;
}
.tabordion .personal_form_block .btn-primary {
    color: #fff;
    background-color: #009999;
    border-color: #009999;
}
.tabordion .personal_form_block .btn-primary:hover {
    color: #437c7c;
    background-color: #9ee5e5;
    border-color: #9ee5e5;
}

.new_dashbord .btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #009999;
    border-color: #009999;
}

.new_dashbord .btn.green:not(.btn-outline):hover {
    color: #437c7c;
    background-color: #9ee5e5;
    border-color: #9ee5e5;
}

.new_dashbord .changpass_form_block .btn-primary {
    color: #fff;
    background-color: #009999;
    border-color: #009999;
}

.new_dashbord .changpass_form_block .btn-primary:hover {
    color: #437c7c;
    background-color: #9ee5e5;
    border-color: #9ee5e5;
}

.new_dashbord .notification_form_block .btn-primary {
    color: #fff;
    background-color: #009999;
    border-color: #009999
}

.new_dashbord .notification_form_block .btn-primary:hover {
    color: #437c7c;
    background-color: #9ee5e5;
    border-color: #9ee5e5;
}

.buttonvancy {
    background: #009999;
    border: solid 1px #009999;
}

.buttonvancy:hover { background: #26bfbf; border: solid 1px #009999; }
