<div class="container">
	<div class="add_property_block">
		<div class="card white-block bgm-cyan p-20 m-t-30" ng-show="!propctrl.propsavail">
			<div class="card-header text-center">
				<div class="property-icon m-b-20"><i class="zmdi zmdi-balance zmdi-hc-fw"></i></div>
				<h1>Thank you, we will send you an email once the landlord accepts your viewing invitation</h1>
				<h3></h3>
				 <a class="btn btn-lg m-t-20" href="#/tenantdashboard">Dashboard</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
</script> 
