<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>

<section id="main">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
            <div class="block-header text-center">
                <h2>Landlord's Profile</h2>
            </div>

            <div class="card app_form card-custom">

                <div class="card-body card-padding clearfix ">
                    <div class="printview">
                        <div class="card-body-inner">
                            <form class="" name="profileForm" enctype="multipart/form-data" ng-submit="ldProfilectrl.profileSubmit(ldProfilectrl)" role="form" novalidate >
                                <h3 class="m-b-20 m-t-10 fw">Personal</h3>
                                <div class="col-xs-12 col-sm-6">
                                    <div ng-class="{ 'has-error' : profileForm.firstName.$invalid && !profileForm.firstName.$pristine }" class="form-group fg-float m-t-30">
                                        <div class="fg-line fg-toggled ">
                                            <input required name="firstName"  type="text" value="" ng-model="ldProfilectrl.firstname"  class="input-sm form-control w-100 fg-input" id="" placeholder="" readonly="true">
                                            <label class="fg-label">First Name<span class="mandatory">*</span>:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div ng-class="{ 'has-error' : profileForm.lastName.$invalid && !profileForm.lastName.$pristine }" class="form-group fg-float m-t-30">
                                        <div class="fg-line fg-toggled ">
                                            <input required name="lastName" ng-model="ldProfilectrl.lastname" type="text" value="" class="input-sm form-control w-100 fg-input" id="" placeholder="" readonly="true">
                                            <label class="fg-label">Last Name<span class="mandatory">*</span>:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }" class="form-group fg-float m-t-30">
                                        <div class="fg-line fg-toggled ">
                                            <input required name="email" ng-model="ldProfilectrl.email" type="email" class="form-control w-100" id="" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="">
                                            <label class="fg-label">Email<span class="mandatory">*</span>:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div  class="form-group fg-float m-t-30">
                                        <div class="fg-line fg-toggled ">
                                            <input required name="contactNo"   ng-model="ldProfilectrl.contact" type="text" class="form-control w-100 phone" id="" placeholder="" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">
                                            <label class="fg-label">Contact No.:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div  class="form-group fg-float m-t-30">
                                        <div class="fg-line fg-toggled ">
                                            <input required name="address"  ng-model="ldProfilectrl.address"  type="text" class="form-control w-100 phone" id="" placeholder="">
                                            <label class="fg-label">Address:</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 text-right">

                                    <button type="submit" class="btn btn-primary btn-md m-t-10 m-l-10 waves-effect">Save</button>
                                </div>

                            </form>
                            <h3 class="m-b-20 m-t-10 fw">Security</h3>
                            <form class="" ng-submit="ldProfilectrl.changepasswordSubmit(ldProfilectrl.passworduser)" name="pwdForm" enctype="multipart/form-data" role="form" novalidate >
                                
                            <div class="col-xs-12 col-sm-6 form-group fg-float m-t-30">
                                        <div class="fg-line">
                                                <div class='regmsgvalidate' ng-if="$root.error != ''">
                                                        <div class="alert alert-danger alert-dismissable fade in">       {{$root.error}}
                                                        </div>
                                                </div> 
                                                <div class='regmsgvalidate' ng-if="$root.success != ''">
                                                        <div class="alert alert-success alert-dismissable fade in">{{$root.success}}
                                                        </div>
                                                </div>
                                        </div>
                                    </div>
                                <div class="col-xs-12 pwd-wrap p-b-30">
                                    <div class="col-xs-12 col-sm-4 form-group fg-float m-t-30">
                                        <div class="fg-line">
                                            <input required type="password" class="form-control w-100 phone" id="" placeholder="" ng-model="ldProfilectrl.passworduser.password" required>
                                            <label class="fg-label">Old Password<span class="mandatory" >*</span>:</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 form-group fg-float m-t-30">
                                        <div class="fg-line">
                                            <input required type="password" ng-model="ldProfilectrl.passworduser.npassword" class="form-control w-100 phone" id="" placeholder="" required>
                                            <label class="fg-label">New Password<span class="mandatory" >*</span>:</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 form-group fg-float m-t-30">
                                        <div class="fg-line">
                                            <input required type="password" class="form-control w-100 phone" id="" placeholder="" ng-model="ldProfilectrl.passworduser.ncpassword" required>
                                            <label class="fg-label">Confirm Password<span class="mandatory" >*</span>:</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right btn-md m-t-10 waves-effect">Change Password</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
<script type="text/javascript">
    Waves.init();
    Waves.attach('.btn');
</script>
<script>
    // $(".phone").mask("999-999-9999");
</script>