<div class="login-content">
<nav class="navbar header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="logo" href="#"><img src="images/vcancy_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse login-menu" id="myNavbar">
      <ul class="nav navbar-nav">
		<li><a href="http://vcancy.ca/">Home</a></li>
		<li><a href="http://vcancy.ca/blog/">Blog</a></li>
		<li><a href="http://vcancy.ca/contact/">Contact</a></li>
		<li><a class="button" href="#/">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
		<div class="col-sm-12">
			<h2>Terms of use</h2>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>
		</div>
    </div>
</div>
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
</script>      