<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle="collapse" data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }" data-ng-click="mactrl.sidebarToggle.left = !mactrl.sidebarToggle.left">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ng-click="mactrl.sidebarStat($event)">Vcancy</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts">9</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li>
                                    <a href="" data-ng-click="hctrl.clearNotification($event)">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            
                        </div>

                        <div class="clearfix"></div>

                        <a class="lv-footer" href="">View Previous</a>
                    </div>

                </div>
            </li>
			<li class="pull-right"><button class="button" ng-click="mactrl.userLogout()" >Sign Out</button></li>
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
