<div class="sidebar-inner c-overflow" ng-if="mactrl.usertype == 1">    
     <ul class="main-menu">
        <li data-ui-sref-active="active" class="active"><a data-ui-sref="landlorddashboard" href="#/landlorddboard"><i class="zmdi zmdi-home zmdi-hc-fw"></i> Dashboard</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="viewprop" href="#/myprop"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> My Properties</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="schedule" href="#/schedule"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> Schedule</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="app" href="#/app"><i class="zmdi zmdi-layers zmdi-hc-fw"></i> Application</a></li>
	</ul>
	<ul class="main-menu">
		<li data-ui-sref-active="active"><a data-ui-sref="faq" href="#/faq">FAQs</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="contact" href="#/contact">Contact</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="terms" href="#/terms">Terms of use</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="security" href="#/security">Security Policy</a></li>

    </ul>
</div>


<div class="sidebar-inner c-overflow"  ng-if="mactrl.usertype == 0">    
     <ul class="main-menu">
        <li data-ui-sref-active="active" class="active"><a data-ui-sref="tenantdashboard" href="#/tenantdboard"><i class="zmdi zmdi-home zmdi-hc-fw"></i> Dashboard</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="tenantschedule" href="#/tenantschedule"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> Schedule</a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="tenantapplications" href="#/tenantapplications"><i class="zmdi zmdi-layers zmdi-hc-fw"></i> Applications</a></li>

	</ul>
	<ul class="main-menu">
		<li data-ui-sref-active="active"><a href="#/">Support</a></li>
		<li data-ui-sref-active="active"><a href="#/">FAQs</a></li>
		<li data-ui-sref-active="active"><a href="#/">Terms of use</a></li>
		<li data-ui-sref-active="active"><a href="#/">Security Policy</a></li>

    </ul>
</div>
