<div class="sidebar-inner c-overflow">    
     <ul class="main-menu">
        <li><a href="#/landlorddboard"><i class="zmdi zmdi-apps zmdi-hc-fw"></i> Dashboard</a></li>
		<li><a href="#/myprop"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> My Properties</a></li>
		<li><a href="#"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> Schedule</a></li>
		<li><a href="#"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i> Applications</a></li>
		<li><a href="#/faq"><i class="zmdi zmdi-help-outline zmdi-hc-fw"></i> FAQs</a></li>
		<li><a href="#/contact"><i class="zmdi zmdi-email zmdi-hc-fw"></i> Contact</a></li>
		<li><a href="#/terms"><i class="zmdi zmdi-info-outline zmdi-hc-fw"></i> Terms of use</a></li>
		<li><a href="#/security"><i class="zmdi zmdi-shield-check zmdi-hc-fw"></i> Security Policy</a></li>
    </ul>
</div>
