<div class="sidebar-inner c-overflow">    
     <ul class="main-menu">
        <li data-ui-sref-active="active" class="active"><a href="#/landlorddboard"><i class="zmdi zmdi-apps zmdi-hc-fw"></i> Dashboard</a></li>
		<li data-ui-sref-active="active"><a href="#/myprop"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> My Properties</a></li>
		<li data-ui-sref-active="active"><a href="#"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> Schedule</a></li>
		<li data-ui-sref-active="active"><a href="#"><i class="zmdi zmdi-calendar zmdi-hc-fw"></i> Appointments</a></li>
	</ul>
	<ul class="main-menu">
		<li><a href="#/faq">FAQs</a></li>
		<li><a href="#/contact">Contact</a></li>
		<li><a href="#/terms">Terms of use</a></li>
		<li><a href="#/security">Security Policy</a></li>
    </ul>
</div>
