<div class="sidebar-inner c-overflow" ng-if="mactrl.usertype == 1">    
     <ul class="main-menu">
        <li data-ui-sref-active="active" class="active"><a data-ui-sref="landlorddashboard" href="#/landlorddboard"><i class="zmdi zmdi-home zmdi-hc-fw"></i> <span>Dashboard</span></a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="viewprop" href="#/myprop"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> <span>My Properties</span></a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="schedule" href="#/schedule"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> <span>Schedule</span></a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="app" href="#/app"><i class="zmdi zmdi-layers zmdi-hc-fw"></i> <span>Applications</span></a></li>
	</ul>
	<ul class="main-menu">
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/faq" target="_blank"><i class="zmdi zmdi-help-outline zmdi-hc-fw"></i> <span>FAQs</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/contact" target="_blank"><i class="zmdi zmdi-phone zmdi-hc-fw"></i> <span>Contact</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/terms-use-privacy-policy/" target="_blank"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> <span>Terms of use</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/terms-use-privacy-policy/" target="_blank"><i class="zmdi zmdi-shield-check zmdi-hc-fw"></i> <span>Security Policy</span></a></li>

    </ul>
</div>


<div class="sidebar-inner c-overflow"  ng-if="mactrl.usertype == 0">    
     <ul class="main-menu">
        <li data-ui-sref-active="active" class="active"><a data-ui-sref="tenantdashboard" href="#/tenantdboard"><i class="zmdi zmdi-home zmdi-hc-fw"></i> <span>Dashboard</span></a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="tenantschedule" href="#/tenantschedule"><i class="zmdi zmdi-alarm zmdi-hc-fw"></i> <span>Schedule</span></a></li>
		<li data-ui-sref-active="active"><a data-ui-sref="tenantapplications" href="#/tenantapplications"><i class="zmdi zmdi-layers zmdi-hc-fw"></i> <span>Applications</span></a></li>

	</ul>
	<ul class="main-menu">
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/faq" target="_blank"><i class="zmdi zmdi-help-outline zmdi-hc-fw"></i> <span>FAQs</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/contact" target="_blank"><i class="zmdi zmdi-phone zmdi-hc-fw"></i> <span>Contact</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/terms-use-privacy-policy/" target="_blank"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> <span>Terms of use</span></a></li>
		<li data-ui-sref-active="active"><a href="http://vcancy.ca/terms-use-privacy-policy/" target="_blank"><i class="zmdi zmdi-shield-check zmdi-hc-fw"></i> <span>Security Policy</span></a></li>

    </ul>
</div>
