<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>
<link href="assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<section id="main">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section class="new_dashbord" id="content">
        <div class="container">
            <!-- title start -->
            <h1 class="page-title"> Billing </h1>
            <!-- title end -->

            <!-- breadcrumb start -->

            <!-- breadcrumb end -->

            <!-- four box start -->
    </section>
</section>