<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>
<link href="assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<section id="main">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section class="new_dashbord" id="content">
        <div class="container">
            <!-- title start -->
            <h1 class="page-title"> Dashboard </h1>
            <!-- title end -->

            <!-- breadcrumb start -->

            <!-- breadcrumb end -->

            <!-- four box start -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="7800">{{adashbord.totalUsers}}</span>
                                </h3>
                                <small>of Users</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">
                                    <span data-counter="counterup" data-value="1349">{{adashbord.totalProperty || 0}}</span>
                                </h3>
                                <small>of Properties</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-sharp">
                                    <span data-counter="counterup" data-value="567">{{adashbord.totalUnit}}</span>
                                </h3>
                                <small>of Units</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-soft">
                                    <span data-counter="counterup" data-value="276">{{adashbord.totalVacant}}</span>
                                </h3>
                                <small>of Units vacant</small>
                            </div>
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="7800">{{adashbord.totalApplication}}</span>

                                </h3>
                                <small>Application submited</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">
                                    <span data-counter="counterup" data-value="1349">{{adashbord.totalShowingScheduled}}</span>
                                </h3>
                                <small>Showing scheduled</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-sharp">
                                    <span data-counter="counterup" data-value="567">0</span>
                                </h3>
                                <small>Paid users</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-soft">
                                    <span data-counter="counterup" data-value="276">0</span>
                                </h3>
                                <small>of Trial users</small>
                            </div>
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>