<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>
<link href="assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<section id="main">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section class="new_dashbord" id="content">
        <div class="container">


            <div class="page-content-wrapper"></div>
            <div class="page-content">
                <h1 class="page-title"> Property </h1>
                <div class="profile">
                    <div class="loader" ng-if="schedulectrl.loader">
                        <div class="preloader pl-xl">
                            <svg class="pl-circular" viewBox="25 25 50 50">
                                <circle class="plc-path" cx="50" cy="50" r="20" />
                            </svg>
                        </div>
                    </div>

                    <select ng-model="aproperty.selectedUser" ng-change="aproperty.getPropertiesListing()" style="position:relative;left:16px;">
                        <option value=''>Select User</option>
                        <option ng-repeat="user in aproperty.usersList" value="{{user.key}}">{{user.firstname}} {{user.lastname}}-{{user.email}}</option>
                    </select>

                    <!-- <input type="text" placeholder=" search"/> -->
                    <buttton data-ui-sref="adminaddprop" class="btn bgm-teal pull-right" style="position:relative;top:-8px;right:16px"> Add Property </button>
                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 thumbhimnshu row-eq-height">
                        <div ng-if="Object.keys(aproperty.viewprops).length == 0">
                            <h4>No properties found</h4>
                        </div>
                        <div class="col-md-4 property_view" ng-if="Object.keys(aproperty.viewprops).length != 0" ng-repeat="(key, x) in aproperty.viewprops"
                            ng-show="aproperty.propsavail">
                            <div class="card white_block p-10">
                                <div class="property_thumb">
                                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                        <button id="btn-append-to-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>

                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                                            <li role="menuitem">
                                                <a href="#/admin/editprop/{{key}}">Edit</a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="javascript:void(0);" ng-click="aproperty.deleteproperty(key,'samepage')">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-if="x.propimg == ''" class="home-img">
                                        <a href="#/admin/editprop/{{key}}">
                                            <div class="home-icon">
                                                <i class="fa fa-home fa-6" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div ng-if="x.propimg != ''">
                                        <a href="#/admin/editprop/{{key}}">
                                            <img width="640" height="220" class="img-responsive" src="{{x.propimg}}" />
                                        </a>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="property_detail">
                                    <h3>
                                        <a tooltip-placement="top" uib-tooltip="{{x.units}} - {{x.address}}"> {{x.address}}</a>
                                    </h3>
                                    <p class="text-small text-default">{{x.city}}, {{x.country}} {{x.postcode}}</p>
                                    <div class="info">
                                        <ul>
                                            <li>
                                                <p>
                                                    <i class="fa fa-circle"></i>
                                                    <span>{{x.name}}</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p ng-if="x.noofunits > 0">
                                                    <i class="fa fa-circle"></i>
                                                    <span>{{x.noofunits}}</span> Units</p>
                                            </li>
                                            <li>
                                                <p ng-if="x.noofunits > 0">
                                                    <i class="fa fa-circle"></i>
                                                    <span>{{aproperty.vacantSums[key]}}</span> Units Vacant</p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        </div>

        <!-- title end -->

        <!-- breadcrumb start -->

        <!-- breadcrumb end -->

        <!-- four box start -->
    </section>
</section>