<header class="header" data-current-skin={{mactrl.currentSkin}} login-header>
</header>

<section id="main" class="profile-page-both">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section class="new_dashbord" id="content">
        <div class="container">

            <div class="page-content-wrapper">
                <div class="page-content">
                    <h1 class="page-title">Schedule and Listings</h1>
                    <div class="profile">
                        <div class="loader" ng-if="schedulectrl.loader">
                            <div class="preloader pl-xl">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>
                            </div>
                        </div>
                        <select ng-model="aschedule.selectedUser" ng-change="aschedule.getScheduleListing()">
                            <option value=''>Select User</option>
                            <option ng-repeat="user in aschedule.usersList" value="{{user.key}}">{{user.firstname}} {{user.lastname}}-{{user.email}}</option>
                        </select>
                    </div>
                    <div class="row mt-5">

                            <div class="col-sm-5">
                                <!-- <button class="btn btn-sm btn-danger btn-round" ng-click="aschedule.deleteListings($event)">Delete</button> -->
                                <button class="btn btn-sm bgm-teal btn-round" ng-click="craigslistopen(true)">Craigslist Settings</button>
                            </div>
                            <div class="col-sm-4 list">
                                Listings
                                <span class="fa fa-info-circle" title="This table shows your availablity for showings and units listed">
                                </span>
                            </div>
        
                        </div>
        
                        <div class="row mt-5">
        
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" ng-model="aschedule.selectedAllListing" ng-click="aschedule.checkAllListing()" />
                                            </th>
                                            <th>
                                                Unit - Property
                                            </th>
                                            <th>
                                                Showing Date/Time
                                            </th>
                                            <th>
                                                Scheduling Link
                                                <span class="fa fa-info-circle" title="Prospective tenants can schedule a showing via this link">
                                            </th>
                                            <th>
                                                List on Craiglist
                                                <span class="fa fa-info-circle" title="Complete mandatory fields and toggle the button to list on Craigslist"></span>
                                            </th>
                                            <th>
                                                Craglist Link
                                            </th>
                                            <th>
                                                Listing Status
                                                <span class="fa fa-info-circle" title="Link to craigslist listing appears after unit is listed"></span>
                                            </th>
                                            <th>
                                               Action
                                           </th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, value) in aschedule.mergeListing track by $index" id="{{$index}}">
                                            <td>
                                                <input type="checkbox" ng-model="aschedule.mergeListing[key].inputCheck" />
                                            </td>
                                            <td>{{value.unitID}} - {{aschedule.properties[value.propertyId].address}}</td>
                                            <td>
                                                <span ng-repeat="dt in value.fromToDate">
                                                    {{dt}}
                                                    <br/>
                                                </span>
                                            </td>
                                            <td>
                                                <a ng-href='{{value.link}}' target="_blank">{{value.link}}</a>
                                            </td>
                                            <td class="text-center">
                                                <span ng-if="value.unitID && aschedule.checkIsIncomplete(value.propertyId, value.unitID)" ng-click="aschedule.openDetailModel(value.propertyId, value.unitID)"
                                                    class="text-primary hover-color" style='cursor:pointer;margin:auto'>Incomplete Listing Details</span>
                                                <!-- <span  ng-click="aschedule.openDetailModel(value.propertyId, value.unitID)"
                                    class="text-primary">Link to Craigslist listing</span> -->
                                                <div ng-if="!aschedule.checkIsIncomplete(value.propertyId, value.unitID)">
                                                    <div>Activate Listing</div>
                                                    <div class="toggle-switch mt-2" ng-click="aschedule.toggleListOnCraglist(value.keys)">
                                                        <input type="checkbox" hidden="hidden" ng-checked="value.listOnCraigslist">
                                                        <label class="ts-helper" style="border-radius: 8px !important"></label>
                                                    </div>
                                                    <div class="text-primary hover-color" style='cursor:pointer' ng-click="aschedule.openDetailModel(value.propertyId, value.unitID)">
                                                        <span>Edit Listing</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type='text'  ng-model="value.craglistLink" />
                                            </td>
                                            <td>
                                                <select ng-model="value.status">
                                                    <option value='Not Listed'>Not Listed</option>
                                                    <option value='Listed'>Listed</option>
                                                    <option value='Pending'>Pending</option>
                                                </select>
                                            </td>
                                            <td>
                                                    <button class="btn bgm-teal btn-sm btn-round " ng-click="aschedule.saveaction(value.keys,value.craglistLink,value.status)" ng-disabled="!value.craglistLink" >Save</button>      
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>


            </div>
            <!-- Calendar -->
            <!-- <div id="calendar-widget" ng-if="schedulectrl.showCal" data-full-calendar calendardata="schedulectrl.calendardata"></div> -->
        </div>
        </div>
        </div>
        </div>


    </section>

</section>

<!-- <footer id="footer" data-ng-include="'views/template/footer.html'"></footer> -->
<script type="text/javascript">
    Waves.init();
    Waves.attach('.btn');
</script>

<script type="text/ng-template" id="craigslist.html">
    <div class="profile_model_popup">
    <div class="modal-header padding-20" >
      <h3 class="modal-title">
          Craigslist Settings
      </h3>
      <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="craigslistopen(false)" style='margin-top:8px !important'>
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <div class="modal-body text-center">      
          <div class="row mt-3 text-center">
              <div class="col-sm-offset-3 col-sm-6 md-3">
                <input type="text" placeholder="Craigslist Username" ng-model="craigslist.username" class="form-control original-form-control" />
              </div>
          </div>
          <div class="row mt-3 text-center">
              <div class="col-sm-offset-3 col-sm-6 md-3">
                <input type="Password" placeholder="Password" ng-model="craigslist.password" class="form-control original-form-control" />
              </div>
          </div>
          <div class="row mt-3 text-center">
              <div class="col-sm-12 md-3">
                 <input type="checkbox" ng-model="craigslist.renewAds">  Renew my ads after 48 hours of posting <i class="fa fa-info-circle" title="This helps you push your listing on the first page of a craigslist search"></i></div>
            </div>
            <div class="row mt-3 text-center">
								<div class="col-sm-12 md-3">
                  <input type="checkbox" ng-model="craigslist.removeAds">  Take ads off after units are rented</div>
							</div>      
        </div>
      </div>
    </div>
    <div class="modal-footer mofo">
      <button class="btn btn-primary " ng-click="saveCraigslistDetails()" >Save</button>
    </div>
  </div>
  </script>
<script type="text/ng-template" id="viewimages.html">
    <div class="profile_model_popup">
    <div class="modal-header padding-20" >
        <h3 class="modal-title">Images</h3>
        <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="closeImageModal()" style='margin-top:8px !important'>
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body">
      
        <div style="height: 305px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="image in selectedUnitDetail.data.images track by $index" index="$index">
                  <img ng-src="{{image.Location}}" style="margin:auto;height: 305px">
                </div>
              </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-1 p-0 mb-2" ng-repeat="image in selectedUnitDetail.data.images">
            <img ng-src="{{image.Location}}" style="height:35px;width:57%;">
            <i class="fa fa-times deletebutton" ng-click="deleteImageFromDetail($index)"></i>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeImageModal()">Close</button>
    </div>
</script>
<script type="text/ng-template" id="myModalDetailsContent.html">
  <div class="profile_model_popup">
  <div class="modal-header padding-20" >
      <h3 class="modal-title">Listing Details for {{selectedUnitDetail.data.unit}} - {{selectedUnitDetail.data.address}}</h3>
      <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="cancel()" style='margin-top:8px !important'>
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
  </div>
  <div class="modal-body prptyadd" style="max-height:600px;overflow-y:auto;">
       <form  role="form" enctype="multipart/form-data" method="post" >
        <div class="row">
          <div class="col text-right">
            <span style="font-size:small;color:red" ng-hide="selectedUnitDetail.data.images.length>0">Upload at least one image</span>
              <button class="btn bgm-teal btn-sm btn-round waves-effect" ng-click="openImageModal()" ng-if="selectedUnitDetail.data.images.length>0"> View images({{selectedUnitDetail.data.images?selectedUnitDetail.data.images.length:0}}) </button>
            <label class="btn bgm-blue btn-sm btn-round waves-effect">
                Upload images <small>(max 24)</small>
                <input type="file" name="file" id="file" 
                value="dataFile" 
                accept="image/*"
                multiple 
                file-upload
                onChangeFunction="uploadDetailsImages"
                class="hidden"
                />
            </label>
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="">
                        <label class='m-0'>Posting title:</label>
                      <input required="true" name="title" ng-model="selectedUnitDetail.data.title" placeholder="Posting title (70 character max) eg:(Beautiful Bedroom)(Required)" type="text" class="form-control original-form-control" id="">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                        <label class='m-0'>Street address:</label>
                      <input required="" name="address" ng-model="selectedUnitDetail.data.address" type="text" class="form-control original-form-control" id="" placeholder="">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>Unit:</label>
                      <input name="rent" required ng-model="selectedUnitDetail.data.unit" type="text" class="form-control original-form-control" id="" placeholder="Required">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class='m-0'>Lease Length:</label>
                <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.leaseLength" class="form-control original-form-control select-height"
                            data-placeholder="Prop status">
                  <option value="">Select</option>
                  <option value="month-to-month">Month-to-month</option>
                  <option value="6months">6 months</option>
                  <option value="9months">9 months</option>
                  <option value="12months">12 months</option>
                </select>
            </div>
          </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>City:</label>
                      <input required="" name="address" ng-model="selectedUnitDetail.data.city" type="text" class="form-control original-form-control" id="" placeholder="Required">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>Specific area:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.specificArea" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>Post/Zip code:</label>
                      <input required="" name="rent" ng-model="selectedUnitDetail.data.postalcode" type="text" class="form-control original-form-control" id="" placeholder="Required">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Country:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.country" type="text" class="form-control original-form-control" id="" placeholder="Required">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>Lease expiry date:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.leaseDuration" type="date" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="form-group">
              
                        <label class='m-0'>Rent:</label>
                        <input required="" name="rent" ng-model="selectedUnitDetail.data.rent" type="text" class="form-control original-form-control" id="" placeholder="Required">
                    
                    </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>Property Type:</label>
                    <select required class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.type" data-placeholder="Prop type">
                            <option value="">Select (Required)</option>
                            <option value="house">House</option>
                            <option value="townhouse">Town House</option>
                            <option value="apartment">Apartment</option>
                            <option value="condo">Condo</option>
                            <option value="coop">Co-op</option>
                            <option value="coop">Other</option>
                          </select>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                
                    <label class='m-0'>Parking:</label>
                    <select class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.parking" data-placeholder="Prop type">
                          <option value="">Select</option>
                          <option value="carport">Carport</option>
                          <option value="detachedGarage">Detached garage</option>
                          <option value="attachedGarage">Attached garage</option>
                          <option value="OffStreetParking">Off-street parking </option>
                          <option value="noParking">No parking</option>
                        </select>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  
                    <label class='m-0'>Laundry:</label>
                    <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.laundry" data-placeholder="Prop type">
                        <option value="">Select</option>
                        <option value="W/dInUnit">W/d in unit</option>
                        <option value="LaundryOnSite">Laundry on site</option>
                        <option value="LaundryInBldg">Laundry in bldg</option>
                        <option value="noLaundryOnSite">No laundry on site</option>
                      </select>
                  
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-2">
                <label class="text-center">Dogs ok</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.dogs" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Cats ok</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.cats" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Furnished</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('furnished')" ng-click="onChangeCheckbox('furnished')" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Wheelchair</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('wheelchair')" ng-click="onChangeCheckbox('wheelchair')" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">No Smoking</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.smoking" class="checkbox">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class='m-0'>Description:</label>
                    <textarea required name="description" id="description" ng-model="selectedUnitDetail.data.description" rows="5"  class="form-control original-form-control" placeholder="Enter property description. Prospective tenants will read this information on your listing (Required)" style="resize: vertical;"/>
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Beds:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.bedroom" type="text" class="form-control original-form-control" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Bath:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.bathroom" type="text" class="form-control original-form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Sq ft:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.sqft" type="text" class="form-control original-form-control" id="" required placeholder="Required">
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Email:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.email" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Phone:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.phone" type="text" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"
                    class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
          
                  <label class='m-0'>Extension number:</label>
                  <input name="address"   ng-model="selectedUnitDetail.data.extensionNumber" type="text" class="form-control original-form-control" id="" placeholder="">
                
              </div>
          </div>
          </div>
          <div class="row mt-3">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label class='m-0'>Status:</label>
                      <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.status" required class="form-control original-form-control select-height"
                                  data-placeholder="Prop status">
                        <option value="">Status (Required)</option>
                        <option value="rented">Rented</option>
                        <option value="available">Available</option>
                        <option value="availablesoon">Available Soon</option>
                        <option value="sold">Sold</option>
                      </select>
                  </div>
              </div>
            <div class="col-sm-8">
                <div class="form-group row mt-5">
                    <label class="p-0">Renters can contact me:</label>
                    <div class="chkbxx m-1 ml-3" >
                      
                      <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedAll" ng-model="selectedUnitDetail.data.contactByPhone" class="checkbox">
                      <label>By phone</label>
                    </div>
                    <div class="chkbxx m-1">
                      
                      <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.contactByEmail"  class="checkbox">
                      <label>By email</label>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-12">
                  <div class="form-group">
                      <label class='m-0'>Amenities:</label>
                      <textarea ng-model="selectedUnitDetail.data.otherAminities" style="resize: vertical;"  class="form-control original-form-control" 
                      
placeholder="Rooms and Interior
.Hardwood floors
.Carpet floors
.Family room

Kitchen and Bath
.Dishwasher
.Refrigerator
.Stove / oven
.Microwave
.Garbage disposal
.Tile floors" />
                  </div>
              </div>
            </div>
  </div>
  <div class="modal-footer">
      <button class="btn bgm-teal btn-sm btn-round waves-effect" ng-click="submitDetails(true)">Save</button>
      <button class="btn bgm-blue btn-sm btn-round waves-effect" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
<style>
  .ng-invalid {
    border-color: red !important;
  }

  .ng-touched.ng-valid {
    border-color: green !important;
  }
</style>
</script>

<style>
    .modal-dialog.modal-lg {
        min-width: 1100px;
    }
</style>