<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>
<section id="main" class="profile-page-both">
  <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
  <section class="new_dashbord" id="content">
    <div class="container">


      <div class="page-content-wrapper">
        <div class="page-content">
          <h1 class="page-title"> {{propctrl.mode}} a Property </h1>
          <script type="text/ng-template" id="myModalDetailsContent.html">
            <div class="profile_model_popup">
            <div class="modal-header padding-20" >
                <h3 class="modal-title">Listing Details for {{selectedUnitDetail.data.unit}} - {{selectedUnitDetail.data.address}}</h3>
                <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="cancel()" style='margin-top:8px !important'>
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body prptyadd" style="max-height:600px;overflow-y:auto;">
                 <form  role="form" enctype="multipart/form-data" method="post" >
                  <div class="row">
                    
                    <div class="col">
                      <label> Copy listing details </label>
                      <select ng-model="copyof" ng-change="copyUnitDetails(copyof,selectedUnitDetail.data.unit)">
                        <option value=''>Select unit</option>
                        <option ng-value="unit.unit" ng-if="unit.unit != selectedUnitDetail.data.unit" ng-repeat="unit in propctrl.prop.unitlists">{{unit.unit}}</option>
                      </select>
                    </div>
                    <div class="col text-right">
                      <button class="btn bgm-teal btn-sm btn-round waves-effect" ng-click="openImageModal()" ng-if="selectedUnitDetail.data.images.length>0"> View images({{selectedUnitDetail.data.images?selectedUnitDetail.data.images.length:0}}) </button>
                      <label class="btn bgm-blue btn-sm btn-round">
                          Upload images <small>(max 24)</small>
                          <input type="file" name="file" id="file" 
                          value="dataFile" 
                          accept="image/*"
                          multiple 
                          file-upload
                          onChangeFunction="uploadDetailsImages"
                          class="hidden"
                          />
                      </label>
                    </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <div class="">
                                  <label class='m-0'>Posting Title:</label>
                                <input required="true" name="title" ng-model="selectedUnitDetail.data.title" placeholder="Beautiful one bedroom in the heart of downtown (70 characters max)" type="text" class="form-control original-form-control" id="">
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <div class="">
                                  <label class='m-0'>Street Address:</label>
                                <input required="" name="address" ng-model="selectedUnitDetail.data.address" type="text" class="form-control original-form-control" id="" placeholder="">
                              </div>
                            </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <div class="">
                                <label class='m-0'>Unit # </label>
                                <input name="rent" ng-model="selectedUnitDetail.data.unit" type="text" class="form-control original-form-control" id="" placeholder="">
                              </div>
                            </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class='m-0'>Lease Length:</label>
                          <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.leaseLength" required class="form-control original-form-control select-height"
                                      data-placeholder="Prop status">
                            <option value="">Select</option>
                            <option value="month-to-month">Month-to-month</option>
                            <option value="6months">6 months</option>
                            <option value="9months">9 months</option>
                            <option value="12months">12 months</option>
                          </select>
                      </div>
                    </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <div class="">
                                <label class='m-0'>City:</label>
                                <input required="" name="address" ng-model="selectedUnitDetail.data.city" type="text" class="form-control original-form-control" id="" placeholder="">
                              </div>
                            </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                        
                              <label class='m-0'>Specific area:</label>
                              <input required="" name="address" ng-model="selectedUnitDetail.data.specificArea" type="text" class="form-control original-form-control" id="" placeholder="">
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <div class="">
                                <label class='m-0'>Post/Zip code:</label>
                                <input required="" name="rent" ng-model="selectedUnitDetail.data.postalcode" type="text" class="form-control original-form-control" id="" placeholder="">
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                      
                              <label class='m-0'>Country:</label>
                              <input required="" name="address" ng-model="selectedUnitDetail.data.country" type="text" class="form-control original-form-control" id="" placeholder="">
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                        
                              <label class='m-0'>Lease expiry:</label>
                              <input name="address" ng-model="selectedUnitDetail.data.leaseDuration" type="date" class="form-control original-form-control" id="" placeholder="">
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                              <div class="form-group">
                        
                                  <label class='m-0'>Rent $:</label>
                                  <input required="" name="rent" ng-model="selectedUnitDetail.data.rent" type="text" class="form-control original-form-control" id="" placeholder="">
                              
                              </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                        
                              <label class='m-0'>Property Type:</label>
                              <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.type" data-placeholder="Prop type" class="">
                                      <option value="">Select</option>
                                      <option value="house">House</option>
                                      <option value="townhouse">Town House</option>
                                      <option value="apartment">Apartment</option>
                                      <option value="condo">Condo</option>
                                      <option value="coop">Co-op</option>
                                      <option value="coop">Other</option>
                                    </select>
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                          
                              <label class='m-0'>Parking:</label>
                              <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.parking" required data-placeholder="Prop type">
                                    <option value="">Select</option>
                                    <option value="carport">Carport</option>
                                    <option value="detachedGarage">Detached garage</option>
                                    <option value="attachedGarage">Attached garage</option>
                                    <option value="OffStreetParking">Off-street parking </option>
                                    <option value="noParking">No parking</option>
                                  </select>
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                            
                              <label class='m-0'>Laundry:</label>
                              <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.laundry" required data-placeholder="Prop type">
                                  <option value="">Select</option>
                                  <option value="W/dInUnit">W/d in unit</option>
                                  <option value="LaundryOnSite">Laundry on site</option>
                                  <option value="LaundryInBldg">Laundry in bldg</option>
                                  <option value="noLaundryOnSite">No laundry on site</option>
                                </select>
                            
                          </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-2">
                          <label class="text-center">Dogs ok</label>
                          <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.dogs" class="checkbox">
                      </div>
                      <div class="col-sm-2">
                          <label class="text-center">Cats ok</label>
                          <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.cats" class="checkbox">
                      </div>
                      <div class="col-sm-2">
                          <label class="text-center">Furnished</label>
                          <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('furnished')" ng-click="onChangeCheckbox('furnished')" class="checkbox">
                      </div>
                      <div class="col-sm-2">
                          <label class="text-center">Wheelchair</label>
                          <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('wheelchair')" ng-click="onChangeCheckbox('wheelchair')" class="checkbox">
                      </div>
                      <div class="col-sm-2">
                          <label class="text-center">No Smoking</label>
                          <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.smoking" class="checkbox">
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label class='m-0'>Description:</label>
                              <textarea ng-model="selectedUnitDetail.data.description" rows="5"  class="form-control original-form-control" placeholder="Enter property description. Prospective tenants will read this information on your listing" />
                          </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class='m-0'>Beds:</label>
                              <input name="address" ng-model="selectedUnitDetail.data.bedroom" type="text" class="form-control original-form-control" >
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class='m-0'>Bath:</label>
                              <input required="" name="address" ng-model="selectedUnitDetail.data.bathroom" type="text" class="form-control original-form-control">
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class='m-0'>Sq ft:</label>
                              <input name="address" ng-model="selectedUnitDetail.data.sqft" type="text" class="form-control original-form-control" id="" placeholder="">
                          </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-sm-4">
                          <div class="form-group">
                      
                              <label class='m-0'>Email:</label>
                              <input required="" name="address" ng-model="selectedUnitDetail.data.email" type="text" class="form-control original-form-control" id="" placeholder="">
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                      
                              <label class='m-0'>Phone:</label>
                              <input required="" name="address" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }"  ng-model="selectedUnitDetail.data.phone" type="text" class="form-control original-form-control" id="" placeholder="" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/">
                            
                          </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                    
                            <label class='m-0'>Extension number:</label>
                            <input required="" name="address" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }"  ng-model="selectedUnitDetail.data.extensionNumber" type="text" class="form-control original-form-control" id="" placeholder="">
                          
                        </div>
                    </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class='m-0'>Status:</label>
                                <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.status" required class="form-control original-form-control select-height"
                                            data-placeholder="Prop status">
                                  <option value="">Status</option>
                                  <option value="rented">Rented</option>
                                  <option value="available">Available</option>
                                  <option value="availablesoon">Available Soon</option>
                                  <option value="sold">Sold</option>
                                </select>
                            </div>
                        </div>
                      <div class="col-sm-8">
                          <div class="form-group row mt-5">
                              <label class="p-0">Renters can contact me:</label>
                              <div class="chkbxx m-1 ml-3" >
                                
                                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedAll" ng-model="selectedUnitDetail.data.contactByPhone" class="checkbox">
                                <label>By phone</label>
                              </div>
                              <div class="chkbxx m-1">
                                
                                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.contactByEmail"  class="checkbox">
                                <label>By email</label>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class='m-0'>Amenities and Features:</label>
                                <textarea ng-model="selectedUnitDetail.data.aminities" rows="5"  class="form-control original-form-control" 
                                
 placeholder="Rooms and Interior
      .Hardwood floors
      .Carpet floors
      .Family room
  
      Kitchen and Bath
      .Dishwasher
      .Refrigerator
      .Stove / oven
      .Microwave
      .Garbage disposal
      .Tile floors" />
                            </div>
                        </div>
                      </div>
            </div>
            <div class="modal-footer">
                <button class="btn bgm-teal btn-sm btn-round" ng-click="submitDetails()">Save</button>
                <button class="btn bgm-blue btn-sm btn-round" ng-click="cancel()">Cancel</button>
            </div>
        </form>
        </div>
    </script>
          <script type="text/ng-template" id="myModalContent1.html">
            <div class="profile_model_popup">
            <div class="modal-header">
                <h3 class="modal-title">Import CSV File</h3>
                <button type="button" class="close" data-dismiss="dialog" ng-click="cancel()">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <form  role="form" enctype="multipart/form-data" id="fileUploadForm" method="post" >
                  <div class="form-group">
                      <p>
                          Data must be in a specific format to be imported without errors.<br/><br/>
                          Please use this file - <a href="../assets/file/Vcancy_Units_Upload_Template.csv">Sample Spreadsheet</a>. <br/><br/>
                          If you are having problems uploading units then please contact <a href="https://vcancy.ca/contact/">support</a>
                          and we will upload it for you.
                      </p>
                      </div>
                    <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">

                            <!-- <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                            </div> -->
                            <span class="fileinput-exists">Selected File:</span> <span class="fileinput-preview fileinput-exists line-height-4" style=""> </span>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new"> Select file </span>
                                    <span class="fileinput-exists"> Change </span>
                                  <input type="file" name="file" id="file123" value="dataFile" required="true">
                                </span> 
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                &nbsp;<small>(Only csv format supported.)</small>
                            </div>
                            
                        </div>
                        
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary" ng-click="submit()"><i ng-if="propctrl.isFileUploading" class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i> Upload</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
    </script>
          <div class="profile">
            <div class="loader" ng-if="loader">
              <div class="preloader pl-xl">
                <svg class="pl-circular" viewBox="25 25 50 50">
                  <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>
              </div>
            </div>
            <div class="tabbable-line tabbable-full-width">
              <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" ng-init="tab = 1">
                  <li role="presentation" ng-class="{'active':tab===1}">
                    <a href ng-click="tab = 1" data-toggle="tab" aria-expanded="true">Property</a>
                  </li>
                  <li role="presentation" ng-show="propctrl.prop.units == 'multiple'" ng-class="{'active':tab===2}">
                    <a href ng-click="tab = 2" data-toggle="tab" aria-expanded="true">Units</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home" ng-show="tab === 1">
                    <div class="">
                      <div class="">
                        <form name="addpropForm" ng-submit="propctrl.submitProp(propctrl.prop)" role="form" class="property" enctype="multipart/form-data"
                          novalidate unsaved-warning-form>
                          <input type="hidden" name="landlordID" ng-model="propctrl.prop.landlordID" class="form-control">
                          <input type="hidden" name="mode" ng-model="propctrl.prop.mode" class="form-control">
                          <input type="hidden" name="propID" ng-model="propctrl.prop.propID" class="form-control">
                          <div class='message' ng-if="$root.error != ''">
                            <div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div>
                          </div>
                          <div class='message' ng-if="$root.success != ''">
                            <div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-9 col-xs-12 col-sm-12 newfrnn">
                              <div class="form-group fg-float">
                                <div class="fg-line">
                                  <input required ng-model="propctrl.prop.name" name="name" required="true" type="text" class="form-control w-100 phone" id=""
                                    placeholder="">
                                  <label class="fg-label" for="text">Property Name:{{propctrl.loader}}</label>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="form-group ">
                                <label>Select Property Type:</label>
                                <select chosen="" class="form-control" name="proptype" ng-model="propctrl.prop.proptype" ng-change="propctrl.unitsOptional('house')"
                                  required data-placeholder="Prop type" class="w-100 localytics-chosen">
                                  <option value="">Property type</option>
                                  <option value="house">House</option>
                                  <option value="townhouse">Town House</option>
                                  <option value="apartment">Apartment</option>
                                  <option value="condo">Condo</option>
                                  <option value="coop">Co-op</option>
                                  <option value="coop">Other</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label class="radio-inline">
                                  <input type="radio" name="units" ng-model="propctrl.prop.units" value="single" required="true" ng-checked="propctrl.prop.units == 'single'">Single Unit</label>
                                <label class="radio-inline">
                                  <input type="radio" name="units" ng-model="propctrl.prop.units" value="multiple" required="true" ng-checked="propctrl.prop.units == 'multiple'">Multiple Units</label>
                              </div>
                              <div class="form-group fg-float" ng-show="propctrl.prop.units == 'multiple'">
                                <div class="fg-line">
                                  <input type="number" ng-model="propctrl.prop.noofunits" ng-required="propctrl.prop.units == 'multiple'" ng-show="propctrl.prop.units == 'multiple'"
                                    name="noofunits" class="form-control w-100 phone" id="" placeholder="Address" min="1">
                                  <label class="fg-label" for="text">No of Units:</label>
                                </div>
                              </div>
                              <div class="form-group fg-float">
                                <div class="fg-line">
                                  <input id="address" gm-places-autocomplete ng-model="propctrl.prop.address" ng-change="propctrl.addresschange()" required
                                    name="address" class="form-control w-100 phone" id="" placeholder="Address" readonly="true">
                                  <label class="fg-label" for="text">Street Address:</label>
                                </div>
                              </div>
                              <div class="form-group fg-float threeside row">
                                <div class="fg-line col-xs-4">
                                  <input placeholder="City" ng-model="propctrl.prop.city" required name="city" class="form-control w-100 phone" />
                                  <label class="fg-label" for="text">City:</label>
                                </div>
                                <div class="fg-line col-xs-4">
                                  <input type="text" placeholder="Province" ng-model="propctrl.prop.province" required name="province" class="form-control w-100 phone"
                                  />
                                  <label class="fg-label" for="text">Province:</label>
                                </div>
                                <div class="fg-line col-xs-4">
                                  <input type="text" ng-model="propctrl.prop.postcode" required name="postcode" class="form-control w-100 phone">
                                  <label class="fg-label" for="text">Zip/Postcode:</label>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              <div class="form-group fg-float">
                                <div class="fg-line">
                                  <input type="text" ng-model="propctrl.prop.country" required name="country" class="form-control w-100 phone" id="" placeholder="Address">
                                  <label class="fg-label" for="text">Country:</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-xs-12 col-sm-12">
                              <span>Upload Image</span>
                              <div class="form-group">
                                <div class="{{propctrl.prop.propimg == ''? 'fileinput-new' : 'fileinput-exists'}}" data-provides="fileinput">

                                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 74px; border:1px solid #ccc;">
                                    <img src="{{propctrl.prop.propimg}}" style="width:100%; margin-top:0 !important;height: 67px;object-fit:'contain'" />
                                  </div>
                                  <div>
                                    <span class="btn btn-file btn-primary bgm-teal btn-sm btn-round waves-effect">
                                      <span class="fileinput-new">Add image</span>
                                      <span class="fileinput-exists ">Change</span>
                                      <input type="hidden" ng-model="propctrl.prop.propimg" name="propimg" id="propimg" value="{{propctrl.prop.propimg}}">
                                      <input type="file" name="file" id="file" value="dataFile">
                                    </span>
                                    <a href="javascript:void(0)" class="btn btn-danger fileinput-exists btn-sm btn-round waves-effect " data-dismiss="fileinput">Remove</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-xs-12 col-sm-12">
                              <button data-ng-click="propctrl.backtoviewprop('update')" class="btn btn-info pull-left bgm-teal btn-sm btn-round waves-effect">&lt;&lt; Back</button>
                              <button type="reset" class="btn pull-right m-l-10 bgm-teal btn-sm btn-round waves-effect" ng-show="propctrl.otheraction == 'Cancel'"
                                ng-if="$root.message == ''">Reset</button>
                              <button type="submit" class="btn pull-right bgm-teal btn-sm btn-round waves-effect">{{propctrl.submitaction}}</button>
                            </div>
                            <div class="col-lg-6 col-xs-12 col-sm-12">
                              <a ng-click="propctrl.deleteproperty(propctrl.prop.propID,'innerpage')" style="color:white" class="btn btn-danger btn-sm pull-right btn-round">
                                <i class="fa fa-trash"></i>
                                </i>
                              </a>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="clearfix"></div>
                          <div class="row" ng-if="$root.message != ''" style="margin-top: 15px;">

                            <div class="col-lg-3 col-xs-12 col-sm-12">
                            </div>
                            <div class="col-lg-3 col-xs-12 col-sm-12">


                            </div>
                            <div class="col-lg-3 col-xs-12 col-sm-12">


                            </div>
                            <div class="col-lg-3 col-xs-12 col-sm-12">

                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="tab" ng-show="tab === 2">
                    <div class="">
                      <div class="">
                        <form name="addunitsForm" ng-submit="propctrl.submiteditunits(propctrl.prop.unitlists,propctrl.prop)" role="form" class="addunitsForm"
                          unsaved-warning-form>

                          <div class="clearfix"></div>
                          <div class="row">
                            <div class='message' ng-if="$root.error != ''">
                              <div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div>
                            </div>
                            <div class='message' ng-if="$root.success != ''">
                              <div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div>
                            </div>
                          </div>
                          <div class="row text-right">
                            <div class='col'>
                              <!-- <button type="button" ng-click="propctrl.copyrowofunits()">Copy Unit</button> -->
                              <button type="button" class="btn bgm-teal btn-sm btn-round" ng-click="propctrl.opencsvmodel(propctrl.prop)">
                                <i class="fa fa-file-excel-o" /> Import Data
                              </button>
                            </div>
                          </div>

                          <div class="row pt-2">
                            <div class="col-sm-6">
                              <label for="example-time-input" class="col-sm-12 col-form-label">
                                Mark selected:&nbsp;&nbsp;
                                <select class="m-input m-input--square" name="more" ng-model="propctrl.more" ng-change="propctrl.moreaction(propctrl.more)">
                                  <option value="">Unit Status</option>
                                  <option value="available">Mark as Available</option>
                                  <option value="rented">Mark as Rented</option>
                                  <option value="sold">Mark as Sold</option>
                                  <option value="availablesoon">Mark as Available soon</option>
                                </select>
                              </label>
                            </div>
                            <div class="col-sm-6 text-right">
                              <button type="button" type="button" class="btn bgm-blue btn-sm btn-round" ng-click="propctrl.addNewUnit()">
                                <i class="fa fa-plus" /> Add Units
                              </button>
                              <button class="btn btn-danger btn-sm btn-round" type="button" ng-click="propctrl.deleteSelected()">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="portlet light ">
                                <div class="pull-left">

                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="mt-bootstrap-tables">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr class="m--align-center">
                                      <td class="width-40">
                                        <input type="checkbox" ng-model="propctrl.selectedAll" ng-click="propctrl.checkAll()" />
                                      </td>
                                      <th>Unit #</th>
                                      <!-- <th>Address</th> -->
                                      <th>Sq.ft</th>
                                      <th>Rent</th>
                                      <th>Bed</th>
                                      <th>Bath</th>
                                      <th>Amenities</th>
                                      <th>Status</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="unit in propctrl.prop.unitlists">
                                      <td>
                                        <!-- propctrl.prop.noofunitsarray[$index] -->
                                        <input type="checkbox" name="ids" id="ts_checkbox" ng-model="propctrl.checkedRow[$index]">
                                      </td>
                                      <td class="table-td">
                                        <input type="text" name="unit" ng-model="unit.unit" class="" min="0" step="0.01" required="true">
                                      </td>
                                      <!-- <td>
                                        <input type="text" name="address" ng-value="propctrl.prop.address" disabled>
                                      </td> -->
                                      <td class="table-td">
                                        <input type="text" name="sqft" ng-model="unit.sqft" min="0" step="0.01" required="true">
                                      </td>
                                      <td class="table-td">
                                        <input type="text" name="rent" ng-model="unit.rent" min="0" step="0.01" required="true">
                                      </td>
                                      <td class="table-td">
                                        <input type="text" name="bedroom" ng-model="unit.bedroom" min="0" step="0.01" required="true">
                                      </td>
                                      <td class="table-td">
                                        <input type="text" name="bathroom" ng-model="unit.bathroom" min="0" step="0.01" required="true">
                                      </td>
                                      <td class="multiple-select-dropdown">
                                        <div class="checkbox-div">
                                          <label>
                                            <input type="checkbox" class="checkbox-position checkbox-width" ng-checked="unit.Aminities.includes('furnished')" ng-click="propctrl.selectCheckbox('furnished',$index)"
                                            /> Furnished</label>
                                        </div>
                                        <div class="checkbox-div">
                                          <label>
                                            <input type="checkbox" class="checkbox-position checkbox-width" ng-checked="unit.Aminities.includes('laundry')" ng-click="propctrl.selectCheckbox('laundry',$index)"
                                            /> Laundry</label>
                                        </div>
                                        <div class="checkbox-div">
                                          <label>
                                            <input type="checkbox" class="checkbox-position checkbox-width" ng-checked="unit.Aminities.includes('parking')" ng-click="propctrl.selectCheckbox('parking',$index)"
                                            /> Parking</label>
                                        </div>
                                        <div class="checkbox-div">
                                          <label>
                                            <input type="checkbox" class="checkbox-position checkbox-width" ng-checked="unit.Aminities.includes('whelchair')" ng-click="propctrl.selectCheckbox('wheelchair',$index)"
                                            /> Wheelchair</label>
                                        </div>
                                      </td>
                                      <td>
                                        <select data-placeholder="Status" class="form-control" name="status" ng-model="unit.status" required class="w-100 localytics-chosen"
                                          data-placeholder="Prop status">
                                          <option value="">Status</option>
                                          <option value="rented">Rented</option>
                                          <option value="available">Available</option>
                                          <option value="availablesoon">Available Soon</option>
                                          <option value="sold">Sold</option>
                                        </select>
                                      </td>
                                      <td>
                                        <a ng-click="propctrl.openDetailModel(propctrl.prop,$index)" class='text-primary'>Details</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6 col-xs-12 col-sm-12">

                                <button type="submit" class="btn btn-success pull-right">{{propctrl.submitaction}}</button>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/ng-template" id="viewimages.html">
      <div class="profile_model_popup">
      <div class="modal-header padding-20" >
          <h3 class="modal-title">Images</h3>
          <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="closeImageModal()" style='margin-top:8px !important'>
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
      </div>
      <div class="modal-body">
        
          <div style="height: 305px">
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <div uib-slide ng-repeat="image in selectedUnitDetail.data.images track by $index" index="$index">
                    <img ng-src="{{image.Location}}" style="margin:auto;height: 305px">
                  </div>
                </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-1 p-0 mb-2" ng-repeat="image in selectedUnitDetail.data.images">
              <img ng-src="{{image.Location}}" style="height:35px;width:57%;">
              <i class="fa fa-times deletebutton" ng-click="deleteImageFromDetail($index)"></i>
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="closeImageModal()">Close</button>
      </div>
</script>
  </section>
</section>
<style>
  .modal-dialog.modal-lg {
    min-width: 1100px;
  }
</style>