<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header>
<link href="assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<link href="assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<section id="main">
    <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section class="new_dashbord" id="content">
        <div class="container">
            <!-- title start -->
            <h1 class="page-title"> Dashboard </h1>
            <!-- title end -->

            <!-- breadcrumb start -->

            <!-- breadcrumb end -->

            <!-- four box start -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="7800">{{ldboardctrl.proplive}}</span>

                                </h3>
                                <small>Properties</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red-haze">
                                    <span data-counter="counterup" data-value="1349">{{ldboardctrl.unitsCount || 0}}</span>
                                </h3>
                                <small>Units</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-sharp">
                                    <span data-counter="counterup" data-value="567">{{ldboardctrl.vacantUnits}}</span>
                                </h3>
                                <small>Units Vacant</small>
                            </div>
                            <div class="icon">
                                <i class="zmdi zmdi-home zmdi-hc-fw"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-soft">
                                    <span data-counter="counterup" data-value="276">{{ldboardctrl.appliedProperties || 0}}</span>
                                </h3>
                                <small>Applications</small>
                            </div>
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- four box end -->

            <!-- two box start -->
            <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class="caption-subject font-dark bold uppercase">Pending</span>
                                <span class="caption-helper">Application...</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <!-- <div id="dashboard_amchart_3" class="CSSAnimationChart"></div> -->
                            <!-- <a class="lv-item ng-scope" ng-href="" ng-repeat="w in hctrl.messageResult.list"> -->
                            <div class="media" ng-if="ldboardctrl.userData && !ldboardctrl.userData.editCompanyDetailsCheck">
                                <div class="media-body">
                                    <div class="lv-title">Edit company details</div>
                                </div>
                                <a class="pull-right icon" ng-click="ldboardctrl.updateCheck('editCompanyDetailsCheck')">
                                    <i class="zmdi zmdi-check icon-size-26"></i>
                                </a>
                            </div>
                            <div class="media" ng-if="ldboardctrl.userData && !ldboardctrl.userData.editCustomRentalCheck">
                                <div class="media-body">
                                    <div class="lv-title">Edit custom rental app</div>
                                </div>
                                <a class="pull-right icon" ng-click="ldboardctrl.updateCheck('editCustomRentalCheck')">
                                    <i class="zmdi zmdi-check icon-size-26"></i>
                                </a>
                            </div>
                            <div class="media" ng-if="ldboardctrl.userData && !ldboardctrl.userData.editScreeningQuestionsCheck">
                                <div class="media-body">
                                    <div class="lv-title">Edit prescreening questions</div>
                                </div>
                                <a class="pull-right icon" ng-click="ldboardctrl.updateCheck('editScreeningQuestionsCheck')">
                                    <i class="zmdi zmdi-check icon-size-26"></i>
                                </a>
                            </div>
                            <div class="media" ng-if="ldboardctrl.apppropaddress" ng-repeat="(key, value) in ldboardctrl.apppropaddress">
                                <div class="media-body">
                                    <div class="lv-title">{{value.name}} has proposed showing times for {{value.unitID || ''}} {{value.unitID ? '-':
                                        ''}} {{value.address}}.</div>
                                    <br/>
                                    <div class="col-sm-3 text-center" ng-if="value.proposeNewTime.date1">
                                        {{value.proposeNewTime.date1}}
                                        <br/> {{value.proposeNewTime.fromTime1}} - {{value.proposeNewTime.toTime1}}
                                        <br/>
                                        <a class="icon" ng-click="ldboardctrl.acceptProposeTime(key, 1)">
                                            <i class="zmdi zmdi-check icon-size-26"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center" ng-if="value.proposeNewTime.date2">
                                        {{value.proposeNewTime.date2}}
                                        <br/> {{value.proposeNewTime.fromTime2}} - {{value.proposeNewTime.toTime2}}
                                        <br/>
                                        <a class="icon" ng-click="ldboardctrl.acceptProposeTime(key, 2)">
                                            <i class="zmdi zmdi-check icon-size-26"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center" ng-if="value.proposeNewTime.date3">
                                        {{value.proposeNewTime.date3}}
                                        <br/> {{value.proposeNewTime.fromTime3}} - {{value.proposeNewTime.toTime3}}
                                        <br/>
                                        <a class="icon" ng-click="ldboardctrl.acceptProposeTime(key, 3)">
                                            <i class="zmdi zmdi-check icon-size-26"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- <a class="pull-right icon"  ng-click="ldboardctrl.updateCheck('editScreeningQuestionsCheck')">
                                    <i class="zmdi zmdi-check icon-size-26" ></i> 
                                </a> -->
                            </div>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-xs-12 col-sm-12">
                  
                    <div class="portlet light calendar ">
                        <div class="portlet-title ">
                            <div class="caption">
                                <i class="icon-calendar font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Viewing</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="calendar1"> </div>
                        </div>
                    </div>
                   
                </div> -->
                <div class="col-sm-6 text-center">
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                </div>

            </div>

            <!-- two box end -->

            <!-- video section start -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/vNL8CA7j7oc">
                    </iframe>
                </div>
            </div>
            <!-- video section end -->
        </div>
    </section>
</section>
<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var h = {};

        if ($('#calendar1').width() <= 400) {
            $('#calendar1').addClass("mobile");
            h = {
                left: 'title, prev, next',
                center: '',
                right: 'today,month,agendaWeek,agendaDay'
            };
        } else {
            $('#calendar1').removeClass("mobile");
            if (App.isRTL()) {
                h = {
                    right: 'title',
                    center: '',
                    left: 'prev,next,today,month,agendaWeek,agendaDay'
                };
            } else {
                h = {
                    left: 'title',
                    center: '',
                    right: 'prev,next,today,month,agendaWeek,agendaDay'
                };
            }
        }



        $('#calendar1').fullCalendar('destroy'); // destroy the calendar
        $('#calendar1').fullCalendar({ //re-initialize the calendar
            disableDragging: false,
            header: h,
            editable: true,
            events: [{
                title: 'All Day',
                start: new Date(y, m, 1),
                backgroundColor: App.getBrandColor('yellow')
            }, {
                title: 'Long Event',
                start: new Date(y, m, d - 5),
                end: new Date(y, m, d - 2),
                backgroundColor: App.getBrandColor('blue')
            }, {
                title: 'Repeating Event',
                start: new Date(y, m, d - 3, 16, 0),
                allDay: false,
                backgroundColor: App.getBrandColor('red')
            }, {
                title: 'Repeating Event',
                start: new Date(y, m, d + 6, 16, 0),
                allDay: false,
                backgroundColor: App.getBrandColor('green')
            }, {
                title: 'Meeting',
                start: new Date(y, m, d + 9, 10, 30),
                allDay: false
            }, {
                title: 'Lunch',
                start: new Date(y, m, d, 14, 0),
                end: new Date(y, m, d, 14, 0),
                backgroundColor: App.getBrandColor('grey'),
                allDay: false
            }, {
                title: 'Birthday',
                start: new Date(y, m, d + 1, 19, 0),
                end: new Date(y, m, d + 1, 22, 30),
                backgroundColor: App.getBrandColor('purple'),
                allDay: false
            }, {
                title: 'Click for Google',
                start: new Date(y, m, 28),
                end: new Date(y, m, 29),
                backgroundColor: App.getBrandColor('yellow'),
                url: 'http://google.com/'
            }]
        });
        $(document.body).removeClass('login');
    });
</script>