<header class="header" data-current-skin={{mactrl.currentSkin}} login-header>
</header>

<section id="main" class="profile-page-both">
  <aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
  <section class="new_dashbord" id="content">
    <div class="container">

      <div class="page-content-wrapper">
        <div class="page-content">
          <h1 class="page-title">Viewing Schedule </h1>
          <div class="profile">
            <div class="loader" ng-if="schedulectrl.loader">
              <div class="preloader pl-xl">
                <svg class="pl-circular" viewBox="25 25 50 50">
                  <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div style="border:1px solid #e7ecf1;padding: 5px;">
                  <h4>
                    <span class="fa fa-info-circle"></span> Add Availablity</h4>
                  <div class="row">
                    <div class="col-sm-12 pl-0">
                      <label for="example-time-input" class="col-sm-4 col-form-label">
                        Property
                      </label>
                      <div class="col-sm-8">
                        <select class="custom-form-element" name="selectProperty" ng-model="newschedulectrl.propertySelected" ng-options="key as value.address for (key, value) in newschedulectrl.properties">
                          <option value=''>Select property</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-12 pl-0 mt-3" ng-if="newschedulectrl.propertySelected && newschedulectrl.properties[newschedulectrl.propertySelected].units == 'multiple'">
                      <label for="example-time-input" class="col-sm-4 col-form-label">
                        Unit
                      </label>
                      <div class="col-sm-8">
                        <!-- <select class="m-input m-input--square" name="selectProperty" style="min-width: 150px;" ng-model="newschedulectrl.selectedUnitId"
                        ng-options="value.unit as value.unit for value in newschedulectrl.properties[newschedulectrl.propertySelected].unitlists">
                        <option value=''>Select unit</option>
                      </select> -->
                        <ui-select multiple tagging tagging-label="(custom 'new' label)" style="min-width: 150px;border: 1px solid #ccc;" ng-model="newschedulectrl.selectedUnitId"
                          theme="bootstrap" sortable="true" ng-disabled="ctrl.disabled" title="Choose a color">
                          <ui-select-match placeholder="Select Units...">{{$item.unit}}</ui-select-match>
                          <ui-select-choices repeat="unit in newschedulectrl.properties[newschedulectrl.propertySelected].unitlists">
                            {{unit.unit}}
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-12">
                      <div class="row">
                        <label for="example-time-input" class="col-sm-4 col-form-label">
                          From Date
                        </label>
                        <div class="col-sm-8">
                          <input type="date" class="m-input m-input--square m-border" name="fromDate" ng-model="newschedulectrl.fromDate" />
                        </div>
                      </div>
                      <div class="row">
                        <label for="example-time-input" class="col-sm-4 col-form-label">
                          To Date
                        </label>
                        <div class="col-sm-8">
                          <input type="date" class="m-input m-input--square m-border" name="toDate" ng-model="newschedulectrl.toDate" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-sm-8">
                      <div class="row">
                        <label for="example-time-input" class="col-sm-3 col-form-label" style="margin:auto">
                          Time
                        </label>
                        <div class="col-sm-9">
                          <div class="row">
                            <div class="col-sm-6">
                              <label for="example-time-input" class="col-sm-6 col-form-label">
                                From
                                <select class="m-input m-input--square" name="more" ng-model="newschedulectrl.fromTime">
                                  <option value="00:00 am">12 am</option>
                                  <option value="01:00 am">1 am</option>
                                  <option value="02:00 am">2 am</option>
                                  <option value="03:00 am">3 am</option>
                                  <option value="04:00 am">4 am</option>
                                  <option value="05:00 am">5 am</option>
                                  <option value="06:00 am">6 am</option>
                                  <option value="07:00 am">7 am</option>
                                  <option value="08:00 am">8 am</option>
                                  <option value="09:00 am">9 am</option>
                                  <option value="10:00 am">10 am</option>
                                  <option value="11:00 am">11 am</option>
                                  <option value="12:00 am">12 am</option>
                                  <option value="01:00 pm">1 pm</option>
                                  <option value="02:00 pm">2 pm</option>
                                  <option value="03:00 pm">3 pm</option>
                                  <option value="04:00 pm">4 pm</option>
                                  <option value="05:00 pm">5 pm</option>
                                  <option value="06:00 pm">6 pm</option>
                                  <option value="07:00 pm">7 pm</option>
                                  <option value="08:00 pm">8 pm</option>
                                  <option value="09:00 pm">9 pm</option>
                                  <option value="10:00 pm">10 pm</option>
                                  <option value="11:00 pm">11 pm</option>
                                </select>
                              </label>
                            </div>
                            <div class="col-sm-6">
                              <label for="example-time-input" class="col-sm-6 col-form-label">
                                To
                                <select class="m-input m-input--square" name="more" ng-model="newschedulectrl.toTime">
                                  <option value="00:00 am">12 am</option>
                                  <option value="01:00 am">1 am</option>
                                  <option value="02:00 am">2 am</option>
                                  <option value="03:00 am">3 am</option>
                                  <option value="04:00 am">4 am</option>
                                  <option value="05:00 am">5 am</option>
                                  <option value="06:00 am">6 am</option>
                                  <option value="07:00 am">7 am</option>
                                  <option value="08:00 am">8 am</option>
                                  <option value="09:00 am">9 am</option>
                                  <option value="10:00 am">10 am</option>
                                  <option value="11:00 am">11 am</option>
                                  <option value="12:00 am">12 am</option>
                                  <option value="01:00 pm">1 pm</option>
                                  <option value="02:00 pm">2 pm</option>
                                  <option value="03:00 pm">3 pm</option>
                                  <option value="04:00 pm">4 pm</option>
                                  <option value="05:00 pm">5 pm</option>
                                  <option value="06:00 pm">6 pm</option>
                                  <option value="07:00 pm">7 pm</option>
                                  <option value="08:00 pm">8 pm</option>
                                  <option value="09:00 pm">9 pm</option>
                                  <option value="10:00 pm">10 pm</option>
                                  <option value="11:00 pm">11 pm</option>
                                </select>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 col-sm-offset-3" style="margin-bottom: 10px;">
                  
                    <button class="btn btn-round bgm-teal btn-sm waves-effect" ng-click="newschedulectrl.addAvailability($event)">Add</button>
                    &nbsp;
                    <button class="btn btn-round bgm-teal btn-sm waves-effect" ng-click="newschedulectrl.clearAll($event)">Reset</button>
                  
                </div>
              </div>
              <div class="col-sm-6 text-center" style="margin:auto;">
                <div ui-calendar ng-model="eventSources"></div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-sm-6">
              <button class="btn btn-sm btn-danger btn-round" ng-click="newschedulectrl.deleteListings($event)">Delete</button>
              <button class="btn btn-sm bgm-teal btn-round" ng-click="craigslistopen(true)">Craigslist Settings</button>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-sm-12">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" ng-model="newschedulectrl.selectedAllListing" ng-click="newschedulectrl.checkAllListing()" />
                    </th>
                    <th>
                      Unit/Property
                    </th>
                    <th>
                      Showing Date/Time
                    </th>
                    <th>
                      Scheduling Link (info)
                    </th>
                    <th>
                      List on Craiglist
                    </th>
                    <th>
                      Listing Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in newschedulectrl.mergeListing track by $index" id="{{$index}}">
                    <td>
                      <input type="checkbox" ng-model="newschedulectrl.mergeListing[key].inputCheck" />
                    </td>
                    <td>{{value.unitID}} - {{newschedulectrl.properties[value.propertyId].address}}</td>
                    <td>{{value.fromToDate.join(',')}}</td>
                    <td>
                      <a ng-href='{{value.link}}' target="_blank">{{value.link}}</a>
                    </td>
                    <td>
                      <span ng-if="value.unitID && newschedulectrl.checkIsIncomplete(value.propertyId, value.unitID)" ng-click="newschedulectrl.openDetailModel(value.propertyId, value.unitID)" class="text-primary">Incomplete Details</span>
                      <span ng-if="!newschedulectrl.checkIsIncomplete(value.propertyId, value.unitID)">Craigslist</span>
                    </td>
                    <td>{{value.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
        <!-- Calendar -->
        <!-- <div id="calendar-widget" ng-if="schedulectrl.showCal" data-full-calendar calendardata="schedulectrl.calendardata"></div> -->
      </div>
    </div>
    </div>

  </section>

</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
<script type="text/javascript">
  Waves.init();
  Waves.attach('.btn');
</script>

<script type="text/ng-template" id="myModalDetailsContent.html">
  <div class="profile_model_popup">
  <div class="modal-header padding-20" >
      <h3 class="modal-title">Listing Details for {{selectedUnitDetail.data.unit}} - {{selectedUnitDetail.data.address}}</h3>
      <button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="cancel()" style='margin-top:8px !important'>
         <span aria-hidden="true">&times;</span>
         <span class="sr-only">Close</span>
      </button>
  </div>
  <div class="modal-body prptyadd">
       <form  role="form" enctype="multipart/form-data" method="post" >
        <div class="row">
          <div class="col text-right">
            <button class="btn btn-primary" ng-click="openImageModal()" ng-if="selectedUnitDetail.data.images.length>0"> View images({{selectedUnitDetail.data.images?selectedUnitDetail.data.images.length:0}}) </button>
            <label class="btn btn-info">
                Upload images <small>(max 24)</small>
                <input type="file" name="file" id="file" 
                value="dataFile" 
                accept="image/*"
                multiple 
                file-upload
                onChangeFunction="uploadDetailsImages"
                class="hidden"
                />
            </label>
          </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="">
                        <label class='m-0'>Posting Title:</label>
                      <input required="true" name="title" ng-model="selectedUnitDetail.data.title" placeholder="Posting title (70 character max) eg:(Beautiful Bedroom)" type="text" class="form-control original-form-control" id="">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                        <label class='m-0'>Street address:</label>
                      <input required="" name="address" ng-model="selectedUnitDetail.data.address" type="text" class="form-control original-form-control" id="" placeholder="">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>Unit:</label>
                      <input name="rent" ng-model="selectedUnitDetail.data.unit" type="text" class="form-control original-form-control" id="" placeholder="">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class='m-0'>Lease Length:</label>
                <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.leaseLength" required class="form-control original-form-control select-height"
                            data-placeholder="Prop status">
                  <option value="">select</option>
                  <option value="month-to-month">month-to-month</option>
                  <option value="6months">6 months</option>
                  <option value="9months">9 months</option>
                  <option value="12months">12 months</option>
                </select>
            </div>
          </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>City:</label>
                      <input required="" name="address" ng-model="selectedUnitDetail.data.city" type="text" class="form-control original-form-control" id="" placeholder="">
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>Specific area:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.specificArea" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="">
                      <label class='m-0'>Post/Zip code:</label>
                      <input required="" name="rent" ng-model="selectedUnitDetail.data.postalcode" type="text" class="form-control original-form-control" id="" placeholder="">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Country:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.country" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>lease expiry:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.leaseDuration" type="date" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="form-group">
              
                        <label class='m-0'>Rent:</label>
                        <input required="" name="rent" ng-model="selectedUnitDetail.data.rent" type="text" class="form-control original-form-control" id="" placeholder="">
                    
                    </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
              
                    <label class='m-0'>Property Type:</label>
                    <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.type" data-placeholder="Prop type" class="">
                            <option value="">Select</option>
                            <option value="house">House</option>
                            <option value="townhouse">Town House</option>
                            <option value="apartment">Apartment</option>
                            <option value="condo">Condo</option>
                            <option value="coop">Co-op</option>
                            <option value="coop">Other</option>
                          </select>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                
                    <label class='m-0'>Parking:</label>
                    <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.parking" required data-placeholder="Prop type">
                          <option value="">Select</option>
                          <option value="carport">Carport</option>
                          <option value="detachedGarage">Detached garage</option>
                          <option value="attachedGarage">Attached garage</option>
                          <option value="OffStreetParking">Off-street parking </option>
                          <option value="noParking">no parking</option>
                        </select>
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                  
                    <label class='m-0'>Laundry:</label>
                    <select chosen="" class="form-control original-form-control select-height" name="proptype" ng-model="selectedUnitDetail.data.laundry" required data-placeholder="Prop type">
                        <option value="">Select</option>
                        <option value="W/dInUnit">W/d in unit</option>
                        <option value="LaundryOnSite">Laundry on site</option>
                        <option value="LaundryInBldg">Laundry in bldg</option>
                        <option value="noLaundryOnSite">no laundry on site</option>
                      </select>
                  
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-2">
                <label class="text-center">Dogs ok</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.dogs" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Cats ok</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.cats" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Furnished</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('furnished')" ng-click="onChangeCheckbox('furnished')" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">Wheelchair</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-checked="selectedUnitDetail.data.Aminities.includes('wheelchair')" ng-click="onChangeCheckbox('wheelchair')" class="checkbox">
            </div>
            <div class="col-sm-2">
                <label class="text-center">No Smoking</label>
                <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.smoking" class="checkbox">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class='m-0'>Description:</label>
                    <textarea ng-model="selectedUnitDetail.data.description" rows="5"  class="form-control original-form-control" placeholder="Enter property description. Prospective tenants will read this information on your listing" />
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Beds:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.bedroom" type="text" class="form-control original-form-control" >
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Bath:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.bathroom" type="text" class="form-control original-form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class='m-0'>Sq ft:</label>
                    <input name="address" ng-model="selectedUnitDetail.data.sqft" type="text" class="form-control original-form-control" id="" placeholder="">
                </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Email:</label>
                    <input required="" name="address" ng-model="selectedUnitDetail.data.email" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
            
                    <label class='m-0'>Phone:</label>
                    <input required="" name="address" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }"  ng-model="selectedUnitDetail.data.phone" type="text" class="form-control original-form-control" id="" placeholder="">
                  
                </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
          
                  <label class='m-0'>Extension number:</label>
                  <input required="" name="address" ui-jq="inputmask" ui-options="'999-999-9999', { 'placeholder': '___-___-____' }"  ng-model="selectedUnitDetail.data.extensionNumber" type="text" class="form-control original-form-control" id="" placeholder="">
                
              </div>
          </div>
          </div>
          <div class="row mt-3">
              <div class="col-sm-4">
                  <div class="form-group">
                      <label class='m-0'>Status:</label>
                      <select data-placeholder="Status" name="status" ng-model="selectedUnitDetail.data.status" required class="form-control original-form-control select-height"
                                  data-placeholder="Prop status">
                        <option value="">Status</option>
                        <option value="rented">Rented</option>
                        <option value="available">Available</option>
                        <option value="availablesoon">Available Soon</option>
                        <option value="sold">Sold</option>
                      </select>
                  </div>
              </div>
            <div class="col-sm-8">
                <div class="form-group row mt-5">
                    <label class="p-0">Renters can contact me:</label>
                    <div class="chkbxx m-1 ml-3" >
                      
                      <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedAll" ng-model="selectedUnitDetail.data.contactByPhone" class="checkbox">
                      <label>By phone</label>
                    </div>
                    <div class="chkbxx m-1">
                      
                      <input type="checkbox" name="all" value="all" id="selectall" ng-model="selectedUnitDetail.data.contactByEmail"  class="checkbox">
                      <label>By email</label>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-2">
              <div class="col-sm-12">
                  <div class="form-group">
                      <label class='m-0'>Amenities:</label>
                      <textarea ng-model="selectedUnitDetail.data.aminities" rows="5"  class="form-control original-form-control" 
                      
placeholder="Rooms and Interior
.Hardwood floors
.Carpet floors
.Family room
Kitchen and Bath
.Dishwasher
.Refrigerator
.Stove / oven
.Microwave
.Garbage disposal
.Tile floors" />
                  </div>
              </div>
            </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="submitDetails()">Save</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
</script>