<header class="header" data-current-skin={{mactrl.currentSkin}} login-header>
</header>

<section id="main">
	<aside id="sidebar" login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
	<section id="content">

		<div class="container">
			<div class="block-header text-center">
				<!-- <h1>Schedule and Listings</h1> -->
				<h1>People</h1>
			</div>
			<div class="loader" ng-if="lappctrl.loader">
				<div class="preloader pl-xl">
					<svg class="pl-circular" viewBox="25 25 50 50">
						<circle class="plc-path" cx="50" cy="50" r="20" />
					</svg>
				</div>
			</div>
			<div class="card white-block p-20">
				<div class="card-header row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-12">
								<label>
									<strong>Select below to populate table</strong>
								</label>
							</div>
							<div class="col-sm-12">
								<!-- <div class="col-sm-4" ng-repeat="(key,w) in lappctrl.apppropaddress">
											 <label class="checkbox checkbox-inline m-r-20">
												<input type="checkbox" value="{{w.propID}}" checked="{{lappctrl.propcheck[w.propID]}}" ng-click="lappctrl.tablefilterdata(w.propID)">
												<i class="input-helper"></i>
												{{w.units}}  <span ng-hide="w.units == ' '">-</span>  {{w.address}} 
											</label>
										</div> -->
								<select class="custom-form-element" name="more" ng-model="lappctrl.filters.property" ng-change="lappctrl.filterData(true)">
									<option value="">Select property</option>
									<option ng-value="key" ng-repeat="(key, property) in lappctrl.properties">
										{{property.address}}
									</option>

								</select>
							</div>
							<div class="col-sm-12 mt-3" ng-if="lappctrl.filters.property">
								<ui-select class=" m-input m-input--square" multiple tagging tagging-label="(custom 'new' label)" ng-change="lappctrl.filterData()"
								 style="min-width:100px;border: 1px solid #ccc;" ng-model="lappctrl.filters.unit" theme="bootstrap" sortable="true"
								 ng-disabled="ctrl.disabled" title="Choose a color">
									<ui-select-match placeholder="Select Units">{{$item.unit}}</ui-select-match>
									<ui-select-choices repeat="unit in lappctrl.properties[lappctrl.filters.property].unitlists">
										{{unit.unit}}
									</ui-select-choices>
								</ui-select>
							</div>

							<div class="col-sm-12 mt-3">
								<ui-select class=" m-input m-input--square" multiple tagging tagging-label="(custom 'new' label)" style="min-width:100px;border: 1px solid #ccc;"
								 ng-model="lappctrl.filters.options" theme="bootstrap" sortable="true" ng-disabled="ctrl.disabled" title="Choose a color">
									<ui-select-match placeholder="Select questions">{{$item.label}}</ui-select-match>
									<ui-select-choices repeat="ques in lappctrl.screeningQuestions">
										{{ques.label}}
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row mb-2">
							<div class="col text-right">
								<button class="btn btn-sm bgm-teal  btn-round" ng-click="lappctrl.openPrescremingQuestions()">Pre-screening Questions</button>
							</div>
						</div>
						<div class="row  mb-2">
							<div class="col text-right">
								<button class="btn btn-sm bgm-blue btn-round" ng-click="lappctrl.opencustomrentalapp()">Custom Rental Application</button>
							</div>
						</div>
						<div class="row  mb-2">
							<div class="col text-right">
								<button class="btn btn-sm bgm-lightblue btn-round" ng-click="lappctrl.openruncreditcriminalcheck()">Run Credit and Criminal Check</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<!-- <table ng-table-dynamic="lappctrl.submitappsSorting with lappctrl.apppropaddress" class="table table-striped table-vmiddle">
							<tr ng-repeat="row in $data">
								<td ng-repeat="col in $columns">{{row[col.field]}}</td>
								<td ng-repeat="col in lappctrl.submitappsextracols">

									<a href="https://www.vcancy.ca/checksforlandlords" target="_blank" class="btn bgm-cyan m-b-5">Run Credit Check</a>
									<a href="#/viewapplication/{{row[col.field]}}" target="_blank" class="btn bgm-blue m-b-5">Application</a>

								</td>
							</tr>
							<tr ng-if="lappctrl.submittedappsavail == 0">
								<td>No submitted applications yet </td>
							</tr>
						</table> -->
						<table class="table table-border table-hover" style="border:1px solid #e7ecf1;overflow-x:auto;max-width:100vw">
							<tr>
								<th>Application</th>
								<th>Report</th>
								<th>Name</th>
								<th>Unit/Property</th>
								<th style="min-width: 150px;">Date-Time</th>
								<th>Showing Status</th>								
								<th ng-repeat="ques in lappctrl.filters.options">
									{{ques.label}}
								</th>
								<th></th>
							</tr>
							<tr ng-repeat="(key, value) in lappctrl.apppropaddress">
								<td>Not Applied</td>
								<td>
									<a ng-if="value.reportLink" href="value.reportLink" target="_blank">Credit Check</a>
									<span ng-if="!value.reportLink">-</span>
								</td>
								<td>{{lappctrl.getUserName(value.tenantID, value)}}</td>
								<td>{{value.unitID}}-{{value.address}}</td>
								<td>{{ formatDay(value.dateSlot) }} {{ formatDate(value.dateSlot) }}
									<br/> {{value.fromTimeslot}} : {{value.toTimeSlot}}</td>
								<td>{{value.schedulestatus}}</td>									
								<td ng-repeat="ques in lappctrl.filters.options">{{value.preScreeningAns[ques.id]?value.preScreeningAns[ques.id]:'-'}}</td>
								<td>
									<button class="btn btn-sm btn-danger btn-round" ng-click="lappctrl.deleteApplyProp(key)">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script type="text/ng-template" id="prescremingquestions.html">
							<div class="profile_model_popup">
							<div class="modal-header padding-20" >
									<h3 class="modal-title">
							Pre-screening Questions for Prospective Tenants
					</h3>
									<button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="closePrescreeningModal()" style='margin-top:8px !important'>
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>
							</div>
							<div class="modal-body">
					<div class="checkbox-div" ng-repeat="value in lappctrl.screeningQuestions track by $index" id="{{$index}}">
						<div class="row">
							<div class="col-sm-8 text-left">
									<label>
											<div class="checkbox">		
											<input type="checkbox" ng-model="value.isChecked"/>&nbsp;&nbsp;
											&nbsp;&nbsp;&nbsp;&nbsp;{{value.label}}
											<i class="input-helper"></i>					
											</div>
										</label>
							</div>
							<div class="col text-right" style="margin:auto">
									<button class="btn btn-danger btn-sm btn-round" type="button" ng-click="lappctrl.deleteQuestionById(value.id)"><i class="fa fa-trash"></i></button>
							</div>
						</div>
					</div>	  
					Add custom question (text input)<br/>
					<div class="row">
						<div class="col">
							<input type="text" ng-model="lappctrl.customQuestion" style="margin-top:10px" class="form-group"/>
							<button class="btn btn-sm bgm-teal btn-round" ng-click="lappctrl.addCustomQuestion()"><i class="fa fa-plus"></i></button>
						</div>
					</div>
							</div>
							<div class="modal-footer">
					<button class="btn bgm-blue btn-sm btn-round" ng-click="closePrescreeningModal()">Close</button>
					<button class="btn bgm-teal btn-sm btn-round" ng-click="lappctrl.saveScreeningQuestions()"><i class="fa fa-floppy-o"></i> Save</button>
							</div>
					</div>
			</script>

		<script type="text/ng-template" id="customrentalapp.html">
			<div class="profile_model_popup">
			<div class="modal-header padding-20" >
				<h3 class="modal-title">
						Custom Rental Application Form
				</h3>
				<button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="closecustomrentalappModal()" style='margin-top:8px !important'>
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
			<div class="col-xs-12 modal-body modal-width">
				<div class="row text-center">
					<div class="col-sm-12">
					<div class="edit-div-hover mb-3" id="imgDiv" style="position:relative;width:25%;color:lightgray;left:37%" >
	
							<img src="{{lappctrl.userData.companylogo?lappctrl.userData.companylogo:'../assets/pages/img/no_image_found.jpg'}}"
								class="img-responsive pic-bordered image" alt="" disabled>
							<!-- <div class="middle">
								<div class="text">
									<label style="position:absolute;top:50%;left:50%;">
										<i class="fa fa-pencil fa-2x"></i>
										<input type="file" accept='image/*' file-upload style="display:none" />
									</label>
								</div>
							</div> -->
							</img>
					</div>
					</div>
					<div class="col-sm-12">
						<input type="text" class="form-control original-form-control" ng-value="lappctrl.companyDetail()" placeholder=" Company name, address and phone number" style="width:100%;" readonly/>
					</div>	
				</div>
	
				<div class="input-sm form-control w-100 fg-input mb-3"></div>
	
				<div class="mb-3">
						Select the sections that you want to include in your rental application form that prospective tenants complete
				</div>	
		
				<div class="checkbox-div">
					
					<div class="checkbox checkbox-clr">		
						<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.PAPPD" disabled/>
						<i class="input-helper"></i>					
					</div>
					<uib-accordion close-others="oneAtATime"> 
						<div uib-accordion-group class="panel-default" heading="Primary Applicant Details" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
							<div class="row mt-3">
								<div class="col-sm-4">
									<input type='text' placeholder="firstname" class="form-control original-form-control" readonly/>
								</div>
								<div class="col-sm-4">
										<input type='text' placeholder="lastname" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-3">DOB</div>
											<div class="col-sm-9" >
												<input type='date' class="form-control original-form-control" readonly/>
											</div>
										</div>
									</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-4">
									<input type='text' placeholder="telephone" class="form-control original-form-control" readonly />
								</div>
								<div class="col-sm-4">
										<input type='text' placeholder="home" class="form-control original-form-control" readonly/>
								</div>
								<div class="col-sm-4">
										<input type='text' placeholder="email" class="form-control original-form-control" readonly/>
								</div>
							</div>
							<div class="row mt-3">
	
										<div class="col-sm-4">
												Mairtal Status:
										</div>
										
										<div class="col-sm-4">
												<input type="radio" id="single" name="single1" value="single2" readonly/> Single																	
												<input type="radio" id="married" name="married1" value="married2" readonly/> Married
										</div>
										<div class="col-sm-4">
												<input type='text' placeholder="sin" class="form-control original-form-control" readonly/>
										</div>					
								
							</div>
							<div class="row mt-3">
									<div class="col-sm-5">	
										<div class="row">
											<div class="col-sm-4" style="margin:auto">
													Pets:
											</div>
											<div class="col-sm-8">
												<input type="radio" readonly> Yes
												<input type="radio" readonly> No
											</div>
										</div>
									</div>
									<div class="col-sm-5">	
										<div class="row">
											<div class="col-sm-4" style="margin:auto">
													Smoking:
											</div>
											<div class="col-sm-8">
												<input type="radio" readonly> Yes
												<input type="radio" readonly> No
											</div>
										</div>
									</div>
								</div>
							</div>
					</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.CADDR" disabled/>
								<i class="input-helper"></i>					
							</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Current Address" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row mt-3">
									<div class="col-sm-4">
										<input type='text' placeholder="State Address" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="City" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="Province/State" class="form-control original-form-control" readonly/>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-3">
										<input type='text' placeholder="zipcode" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-3">
											<input type='text' placeholder="country" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-6">
											<div class="row">
													<div class="col-sm-8" style="margin:auto">
															Do you rent or own this address
													</div>
													<div class="col-sm-4">
														<input type="radio" readonly /> Rent
														<input type="radio" readonly /> Own
													</div>
												</div>
									</div>
								</div>
								<div class="row mt-3">
										<div class="col-sm-6">
											<input type='text' placeholder="How long have you lived at this address" class="form-control original-form-control" readonly/>
										</div>
										<div class="col-sm-6">
												<input type='text' placeholder="Rent $" class="form-control original-form-control" readonly/>
										</div>
								</div>
								<div class="row mt-3">
										<div class="col-sm-12">
											<input type='text' placeholder="Reason for vacating " class="form-control original-form-control" readonly />
										</div>
								</div>
								<div class="row mt-3">
										<div class="col-sm-6">
											<input type='text' placeholder="Landlord Full Name" class="form-control original-form-control" readonly />
										</div>
										<div class="col-sm-6">
												<input type='text' placeholder="Landlord's daytime phone #" class="form-control original-form-control" readonly/>
										</div>
								</div>
								</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.PADDR" readonly/>
								<i class="input-helper"></i>					
						</div>
						
					
					<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default" heading="Previous Address" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
							<div class="row mt-3">
								<div class="col-sm-4">
									<input type='text' placeholder="State Address" class="form-control original-form-control" readonly />
								</div>
								<div class="col-sm-4">
									<input type='text' placeholder="City" class="form-control original-form-control" readonly/>
								</div>
								<div class="col-sm-4">
									<input type='text' placeholder="Province/State" class="form-control original-form-control" readonly/>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-sm-3">
									<input type='text' placeholder="zipcode" class="form-control original-form-control" readonly />
								</div>
								<div class="col-sm-3">
										<input type='text' placeholder="country" class="form-control original-form-control" readonly/>
								</div>
								<div class="col-sm-6">
										<div class="row">
												<div class="col-sm-8" style="margin:auto">
														Do you rent or own this address
												</div>
												<div class="col-sm-4">
													<input type="radio" /> Rent
													<input type="radio" /> Own
												</div>
											</div>
								</div>
							</div>
							<div class="row mt-3">
									<div class="col-sm-6">
										<input type='text' placeholder="How long have you lived at this address" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-6">
											<input type='text' placeholder="Rent $" class="form-control original-form-control" readonly/>
									</div>
							</div>
							<div class="row mt-3">
									<div class="col-sm-12">
										<input type='text' placeholder="Reason for vacating " class="form-control original-form-control" readonly />
									</div>
							</div>
							<div class="row mt-3">
									<div class="col-sm-6">
										<input type='text' placeholder="Landlord Full Name" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-6">
											<input type='text' placeholder="Landlord's daytime phone #" class="form-control original-form-control" readonly/>
									</div>
							</div>
							</div>
					</uib-accordion>
			</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.AAPPD"/>
								<i class="input-helper"></i>					
						</div>
						
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Additional Applicant Details" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.AAPP1"> Additional Applicant</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-4">
										<input type='text' placeholder="Full Name" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-4">
										<input type='date' placeholder="Date Of Birth" class="form-control original-form-control" readonly/>
									</div>	
									<div class="col-sm-4">
										<input type='text' placeholder="SIN number" class="form-control original-form-control" readonly/>
									</div>
								</div>
	
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.AAPP2"> Additional Applicant</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-6">
											<input type='date' placeholder="Date Of Birth" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-6">
										<input type='text' placeholder="Full Name" class="form-control original-form-control" readonly/>
									</div>		
								</div>
							</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.ESIV" disabled/>
								<i class="input-helper"></i>					
						</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Employment Status & Income Verification" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.ESIV1" disabled readonly> Employment Status & Income Verification</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-6">
										<input type='text' placeholder="Current Employer" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-6">
										<input type='text' placeholder="Position" class="form-control original-form-control" readonly/>
									</div>								
								</div>
								<div class="row mt-3">
										<div class="col-sm-6">
											<input type='text' placeholder="Employer Phone " class="form-control original-form-control" readonly/>
										</div>
										<div class="col-sm-6">
											<input type='text' placeholder="How long have you worked in this company(Month/Year)" class="form-control original-form-control" readonly/>
										</div>								
								</div>
								<div class="row mt-3">
											<div class="col-sm-6">
												<input type='text' placeholder="Gross monthly income" class="form-control original-form-control" readonly />
											</div>
											<div class="col-sm-6">
												<input type='text' placeholder="Other income description(eg.Disability,Income Assistance,Savings)" class="form-control original-form-control" readonly/>
											</div>								
								</div>
							</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.VI"/>
								<i class="input-helper"></i>					
						</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Vehical Information" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row mt-3">
									<div class="col-sm-4">
										<input type='text' placeholder="Make" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="Model" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="Year" class="form-control original-form-control" readonly/>
									</div>
								</div>
							</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.EC"/>
								<i class="input-helper"></i>					
						</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Emergancy Contact" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.EC1" readonly>Name and Phone number of Personal/Family reference who may be contacted in the case of emergency</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-6">
										<input type='text' placeholder="Full Name" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-6">
										<input type='text' placeholder="Phone" class="form-control original-form-control" readonly/>
									</div>								
								</div>
							</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox"  ng-model="lappctrl.customRentalApplicationCheck.REF" disabled/>
								<i class="input-helper"></i>					
						</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="References" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row">
									<div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.REF1" disabled readonly> References 1</div>
								</div>
								<div class="row mt-3">
									<div class="col-sm-4">
										<input type='text' placeholder="Full Name" class="form-control original-form-control" readonly />
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="Phone" class="form-control original-form-control" readonly/>
									</div>
									<div class="col-sm-4">
										<input type='text' placeholder="Relationship(previous landlord,employer)" class="form-control original-form-control" readonly/>
									</div>
								</div>
	
								<div class="row">
									<div class="col-sm-12">
										<input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.REF2" readonly> References 2</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-4">
											<input type='text' placeholder="Full Name" class="form-control original-form-control" readonly />
										</div>
										<div class="col-sm-4">
											<input type='text' placeholder="Phone" class="form-control original-form-control" readonly/>
										</div>
										<div class="col-sm-4">
											<input type='text' placeholder="Relationship(previous landlord,employer)" class="form-control original-form-control" readonly/>
										</div>
									</div>
							</div>
						</uib-accordion>
				</div>
				<div class="checkbox-div mb-3">
						<div class="checkbox checkbox-clr">		
								<input type="checkbox"  ng-model="lappctrl.customRentalApplicationCheck.UD" disabled/>
								<i class="input-helper"></i>					
						</div>
						
						<uib-accordion close-others="oneAtATime">
							<div uib-accordion-group class="panel-default" heading="Unit details (added from property details provided)" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
								<div class="row">
									<!-- <div class="col-sm-12"><input type="checkbox" ng-model="lappctrl.customRentalApplicationCheck.UDAAPP"> Additional Applicant</div> -->
								</div>
								<div class="row mt-3">
									<div class="col-sm-3">We offer to rent</div>
									<div class="col-sm-9"><input type='text' placeholder="Address" class="form-control original-form-control" readonly />
									</div>	
								</div>
	
								<div class="row mt-3">
										<div class="col-sm-3">(the "Rental Unit" at monthly rent of</div>
										<div class="col-sm-3"><input type='text' placeholder="$" class="form-control original-form-control" readonly/>
										</div>
										<div class="col-sm-3">for a term of</div>
										<div class="col-sm-3"><input type='text' placeholder="Months" class="form-control original-form-control" readonly />
										</div>	
								</div>
	
								<div class="row mt-3">
										<div class="col-sm-3">months starting </div>
										<div class="col-sm-3"><input type='text' placeholder="Date" class="form-control original-form-control" readonly/>
										</div>
										<div class="col-sm-3">Parking is required for</div>
										<div class="col-sm-3"><input type='text' placeholder="No. of vehicle" class="form-control original-form-control" readonly />
										</div>	
								</div>
							</div>
						</uib-accordion>
				</div>
				
				<div class="checkbox-div mb-3">
						<div class="row">
								<div class="col-sm-12 mt-4" >
									Enter custom agreement terms or use the default text
								</div>
							</div>

							<div class="checkbox checkbox-clr">		
									<input type="checkbox"  ng-model="lappctrl.customRentalApplicationCheck.TC" disabled/>
									<i class="input-helper"></i>					
							</div>
						
						<textarea rows="6" class="m-input m-input--square m-width" name="more" style="white-space: nowrap;" >
	You are authorized to obtaining credit checks & verifying details contained in this Application.
			
	This unit/s is strictly NON SMOKING. This offer is subject to acceptance by the landlord/property
	management company that listed the property.This application is made on the understanding that no 
	betterments will be provided to the Rental Unit except those which may be specifically requested in 
	this Application and agreed to in writing by the Landlord and specified in a tenancy agreement.
	
	It is understood that this application will not be processed unless fully completed.
	
	If the landlord/property management company accepts this Application, we will sign a Fixed 
	Term Tenancy Agreement at the offices of the property management company or in person with
	the landlord and pay the security deposit. The Rental Unit will not be considered rented
	until the Fixed Term Tenancy Agreement is signed by the Tenant and the Landlord.
	
	We will ensure that the collection, use, disclosure and retention of information will comply with 
	the provisions of the Freedom of information and Protection of Privacy Act. 
	Information will be collected and used only as necessary and for the intended purpose and will 
	not be disclosed as required by law.
	
	I hereby state that the information contained herein is true and I authorize my References
	as listed above to release information regarding my employment and/or past/current tenancies.
	
	Tenants are not chosen on a first come – first served basis. We choose the most suitable 
	application for the unit at our sole discretion. This application form is to be used only
	in the interested of the owner of the rental unit.</textarea>
				</div>
			</div>
			
			<div class="modal-footer mofo">	
				<button class="btn bgm-teal btn-sm btn-round" ng-click="lappctrl.saveCustomRentalApplicationCheck()"><i class="fa fa-floppy-o" ></i> Save</button>			
			</div>
		</div>
		</script>

		<script type="text/ng-template" id="runcreditcriminalcheck.html">
			<div class="profile_model_popup">
			<div class="modal-header padding-20" >
				<h3 class="modal-title">
						Request Credit and Criminal Check Reports
				</h3>
				<button type="button" class="close margin-top-15" data-dismiss="dialog" ng-click="closeruncreditcriminalcheckModal()" style='margin-top:8px !important'>
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
			</div>
			<div class="col-xs-12 modal-body">
			<div class="col-xs-12 col-sm-6">
					<select class="m-input m-input--square" name="more" ng-model="lappctrl.creditCheck.forTenant" 
					ng-options="key as (value.firstname + ' ' + value.lastname) for (key, value) in lappctrl.applyPropUsers">
							<option value="">Select Tenant</option>
					</select>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="checkbox-div">
					<label>	
						<a href="https://s3.ca-central-1.amazonaws.com/vcancy-final/public/Sample_criminal%2C_credit_and_background_check_report.pdf" download="Sample_criminal%2C_credit_and_background_check_report.pdf">See Sample Report</a>
					</label>
				</div>
				<div class="radio-div">
					<label>	
						<input type="radio" name="report-type" ng-model="lappctrl.creditCheck.reportType" value="Credit Report (Transunion) $15/Report" 
						/> Credit Report (Transunion) $15/Report
							<i class="input-helper"></i>					
						
					</label>
				</div>
				<div class="radio-div">
					<label>	
					<input type="radio" name="report-type" ng-model="lappctrl.creditCheck.reportType" value="Criminal Record Check $35/Report"
						/> Criminal Record Check $35/Report
								<i class="input-helper"></i>	
						
					</label>
				</div>
				<div class="radio-div">
					<label>	
						<input type="radio" name="report-type" ng-model="lappctrl.creditCheck.reportType" value="Both of the above $45/Report" 
						/> Both of the above $45/Report
						<i class="input-helper"></i>	
						
					</label>
				</div>
			</div>
			</div>
			<div class="modal-footer mofo">	
				<button class="btn bgm-teal btn-sm btn-round" ng-disabled="!lappctrl.creditCheck.reportType || !lappctrl.creditCheck.forTenant" ng-click="submitCreditCheck()"><i class="fa fa-floppy-o" ></i> Submit</button>			
			</div>
		</div>
		</script>
	</section>
</section>

<!-- <footer id="footer" data-ng-include="'views/template/footer.html'"></footer> -->
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
</script>