
 <header data-ng-include="'views/template/publicheader.html'" ></header>       
      
       	<div class="row">
			<div class="container register-box">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<!-- Register -->
					        <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 0 }" data-ng-if="lctrl.register === 0">			
								<form name="regForm" ng-submit="lctrl.registerUser(lctrl.reguser)" role="form" novalidate>
									<div class='regmsgvalidate' ng-if="$root.error != ''"><div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div></div>	
									<div class='regmsgvalidate' ng-if="$root.success != ''"><div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div></div>				
								   <div class="form-group text-center" >
										<label class="radio radio-inline"> 
											 <input type="radio" required ng-model="lctrl.reguser.usertype" ng-value="1"  name="usertype" value="1">
											<i class="input-helper"></i>
											Landlord
										</label>
										<label class="radio radio-inline">
											<input type="radio" required ng-model="lctrl.reguser.usertype" ng-value="0"  name="usertype" value="0">
											<i class="input-helper"></i>
											Tenant
										</label>
									</div>
								   <div class="form-group m-b-10" style='display: inherit;float: left;width: 100%;'>                
										<div class="col-sm-6 col-xs-12 m-b-10">
											<input type="text" id="fname" required ng-model="lctrl.reguser.first" name="first" class="form-control" placeholder="First Name"> 
										</div>
										<div class="col-sm-6 col-xs-12 m-b-10">
											<input type="text" id="lname" required ng-model="lctrl.reguser.last" name="last" class="form-control" placeholder="Last Name"> 					
										</div>
									</div>

									<div class="form-group"  style='display:inherit;float: left;width: 100%;'>
										<div class="col-sm-12">
											<input type="text" id="regemail" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regemail')) }" required ng-model="lctrl.reguser.email" name="email" class="form-control" placeholder="Email Address">
										</div>
									</div>

									<div class="form-group m-b-20"  style='display: inherit;float: left;width: 100%;'>
										<div class="col-sm-6 col-xs-12 m-b-10">
											<input type="password" id="regpwd" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regpwd')) }"  required ng-model="lctrl.reguser.pass" name="pass" class="form-control" placeholder="Password">
										</div>
										<div class="col-sm-6 col-xs-12 m-b-10">
											<input type="password" id="regcpwd" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regcpwd')) }"  required ng-model="lctrl.reguser.cpass" name="cpass" class="form-control" placeholder="Confirm Password">
										</div>
									</div>
									<div class="form-group col-sm-12 m-b-20"  style='display: inherit;float: left;'>
										<span>By creating an account, you agree to <a href='https://vcancy.ca/tos_privacypolicy/' target="_blank">                Terms of use and Privacy Policy        </a></span> 
									</div>
									<div class="clearfix"></div>
								
									<button type="submit" ng-disabled="regForm.$invalid"  class="btn btn-success pull-right">Create an account <i class="zmdi zmdi-arrow-forward"></i></button>
								</form>
					            <div class="clearfix"></div>
					                            <hr>
					                            <p class='text-center'>Already have an account?</p>
					                                <a href='#/login'  data-block="#l-login" class="btn bgm-cyan btn-block" data-ng-click="lctrl.forgot = 0; lctrl.register = 0; lctrl.login = 1">Sign In <i class="zmdi zmdi-arrow-forward"></i></a>
							</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<h1>More than 675,000 property managers, landlords and tenants in 16,500 ZIP Codes use Vcancy to:</h1>
						<br><br>
						<h6>Find the perfect place — and the perfect tenants.</h6>
						<br><br>
						<h6>Save time and money dealing with rent every month.</h6>
				</div>
			</div>
		</div>

        
<footer data-ng-include="'views/template/publicfooter.html'"></footer>
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
	$( document ).ready(function() {
	    $(document.body).addClass('login');
	});
</script> 