<header class="header" data-current-skin={{mactrl.currentSkin}} login-header></header> 

<section id="main" class="profile-page-both">
<aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
<section class="new_dashbord" id="content">
<div class="container">
<div class="page-content-wrapper">
<div class="page-content">
   <h1 class="page-title">  {{propctrl.mode}} Units </h1>
    <div class="profile">

      <h3>Create units for {{propctrl.units.name}}</h3> 
      <div class="tabbable-line tabbable-full-width">

          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist"  ng-init="tab = 1">
                 <li role="presentation" class="active">
                      <a href ng-click="tab = 1" data-toggle="tab" aria-expanded="true" >Units</a>
                 </li>
                <li role="presentation">
                      <a href ng-click="tab = 2" data-toggle="tab" aria-expanded="true" >Import Csv</a>
                </li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home" ng-show="tab === 1">

                
                <form name="addunitsForm" ng-submit="propctrl.submiteditunits(propctrl.prop.unitlists,propctrl.prop)"  role="form" class="addunitsForm"> 

                <div class="clearfix"></div>
                      <div class="row">
                        <div class='message' ng-if="$root.error != ''">
                           <div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div>
                        </div>
                        <div class='message' ng-if="$root.success != ''">
                           <div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div>
                        </div>
                      </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="portlet light ">
                           <div class="pull-left">
                            <select name="more" ng-model="more" ng-change="propctrl.moreaction(more)">
                                <option value="">More</option>
                                <option value="DAll">Delete</option>
                                <option value="Mavailable">Mark Available</option>
                                <option value="Mranted">Mark Rented</option>
                                 <option value="Msold">Mark Sold</option>
                            </select>
                          </div>
                          <div class="pull-right">
                            <button type="button" ng-click="propctrl.addmorerow(propctrl.units.noofunits)">Add Unit<i class="fa fa-plus"></i></button>
                          </div>
                      </div>

                  </div>
                </div>
                  <div class="mt-bootstrap-tables">
                        <div class="row">
                            <div class="col-md-12">
                               <div class="portlet light ">
                                  
                                  <div class="mt-bootstrap-tables" >
                                 <div class="row">

                                    <div class="col-md-12">
                                       <div class="portlet light ">
                                          <table class="table table-bordered">
                                             <thead>
                                                <tr>
                                                   <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                   <th>Units #</th>
                                                   <th>Address</th>
                                                   <th>SQ.ft</th>
                                                   <th>Rent</th>
                                                   <th>Bed</th>
                                                   <th>Bath</th>
                                                   <th>Amenities</th>
                                                   <th>Status</th>
                                                   <th></th>
                                                </tr>
                                             </thead>
                                             <tbody >
                                 
<!-- ng-show="(propctrl.prop.unitlists| filter:unit).length" -->
                                                <tr  ng-repeat="i in propctrl.getNumber(propctrl.prop.noofunits) track by $index" id="{{$index}}">
                                                   <td><input type="checkbox" name="ids" value="{{$index}}"  id="ts_checkbox"></td>
                                                   <td class="table-td"><input type="text" name="unit" ng-model="propctrl.prop.unitlists[$index].unit" class=""  min="0" step="0.01" integer><input type="hidden" name="unit" ng-model="propctrl.prop.unitlists[$index].unit" class=""  min="0" step="0.01" integer></td>
                                                   <td><input type="text" name="address" ng-model="propctrl.prop.address" readonly></td>
                                                   <td class="table-td"><input type="text" name="sqft" ng-model="propctrl.prop.unitlists[$index].sqft"  min="0" step="0.01" integer></td>
                                                   <td class="table-td"><input type="text" name="rent" ng-model="propctrl.prop.unitlists[$index].rent"  min="0" step="0.01" integer></td>
                                                   <td class="table-td"> <input type="text" name="bedroom" ng-model="propctrl.prop.unitlists[$index].bedroom"  min="0" step="0.01" integer></td><td class="table-td"> <input type="text" name="bathroom" ng-model="propctrl.prop.unitlists[$index].bathroom"  min="0" step="0.01" integer></td>
                                                   <td>
                                                   
                                                      <select data-placeholder="Status" class="form-control" name="Aminities" ng-model="propctrl.prop.unitlists[$index].Aminities"   required class="w-100 localytics-chosen" data-placeholder="Prop type" multiple="true">
                                                         <option value="furnished">Furnished</option>
                                                 <option value="laundry">Laundry</option>
                                                 <option value="parking">Parking</option>
                                                 <option value="wheelchair">Wheelchair</option>
                                                      </select>
                                                   </td>
                                                   <td>
                                                      <select data-placeholder="Status" class="form-control" name="status" ng-model="propctrl.prop.unitlists[$index].status"   required class="w-100 localytics-chosen" data-placeholder="Prop status">
                                                         <option value="">Property status</option>
                                                         <option value="rented">Rented</option>
                                                         <option value="Available">Available</option>
                                                         <option value="sold">Sold</option>
                                                      </select>
                                                   </td>
                                                   <td><button>Details</button></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              
                              </div>
                               </div>
                            </div>
                            
                        </div>
                        
                            <div class="row">
                              <div class="col-lg-6 col-xs-12 col-sm-12">
                                 <button data-ng-click="propctrl.backtoviewprop()" class="btn btn-info  pull-left">&lt;&lt; Back</button>
                                 <button type="reset" class="btn btn-danger pull-right m-l-10" ng-show="propctrl.otheraction == 'Cancel'">Reset</button>
                                  <button type="submit"  class="btn btn-success pull-right">{{propctrl.submitaction}}</button>
                              </div>
                            </div>

                      </div>
                  </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="tab" ng-show="tab === 2">
                  <form  role="form" enctype="multipart/form-data" ng-submit="propctrl.csvsubmitdata(propctrl.prop)" role="form">
                  <div class="form-group">
                  <p>
                  Data Must be in a specific format to import.
                  </p>
                  <p>Please use this file for as a sample <a href="../assets/test.csv">Sample CSV</a></p>
                  <p>If you are having difficulty for import data please <a href="https://vcancy.ca/contact/">Contact Support</a>and we will upload for you</p>
                  </div>
                <div class="form-group">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                        <div>
                            <span class="btn default btn-file">
                                <span class="fileinput-new"> Select CSV </span>
                                <span class="fileinput-exists"> Change </span>
                                <input type="file" name="file" id="file123" value="dataFile" required=""> </span>
                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                        </div>
                    </div>
                    
                </div>
              <div class="row">
                <div class="col-lg-2 col-xs-12 col-sm-12">
                      <button type="submit"  class="btn btn-success ">{{propctrl.submitaction}}</button>
                  </div>
                  <div class="col-lg-2 col-xs-12 col-sm-12">
                     <button data-ng-click="propctrl.backtoviewprop()" class="btn btn-info  pull-left">&lt;&lt; Back</button>
                  </div>
                    
                </div>
<div id="dvCSV">
</form>
              </div>
            </div>
          </div>
       </div>
    </div>
</div>
</div>
</div>
</section>
</section>