<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>
<style>
.radio .input-helper:before {
    top: -11px !important;
}
.radio .input-helper:after {
       top: -6px !important;
}
</style>
<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">

        <div class="container">
			<div class="block-header text-center">
				<h2>Schedule Viewing</h2>
            </div>	
            <div class="row text-center">
				<div class="alert alert-danger alert-dismissable" ng-if="applyctrl.emailVerifiedError"><h4>{{applyctrl.emailVerifiedError}}</h4></div>	
			</div>		
			<div class="row">
				<div class="col-sm-12 card">
					<div ng-if="applyctrl.applyprop.availableslots.length == 0">
						<h4>No Time Slot Available to Schedule your application for Property</h4>										
					</div>
					<div ng-if="applyctrl.alreadyBookedSlot == 1">
						<h4>You had already booked a schedule for this property.</h4>										
					</div>
					<form name="applypropForm" ng-submit="applyctrl.tenantapply(applyprop)" role="form" novalidate ng-if="applyctrl.applyprop.availableslots.length" ng-hide="applyctrl.alreadyBookedSlot == 1">	
						<input type="hidden" name="landlordID" ng-model="applyctrl.applyprop.landlordID" class="form-control" >
						<input type="hidden" name="propID" ng-model="applyctrl.applyprop.propID" class="form-control">	
						<input type="hidden" name="address" ng-model="applyctrl.applyprop.address" class="form-control">						
						
						<div class="card-header text-center">
							<h1>Enter basic info and select viewing time</h1>
							<p><i class="zmdi zmdi-home zmdi-hc-fw"></i> {{applyctrl.applyprop.units}} - {{applyctrl.applyprop.address}}</p>
						</div>
						<div class="card-body card-padding">				
							<div class="col-sm-6">
								<div class="form-group col-sm-12">
									<input type="text" placeholder="Full name" readonly="true" ng-model="applyctrl.applyprop.name" required  class="form-control"/>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" placeholder="City" ng-model="applyctrl.applyprop.tenantlocation" required  class="form-control"/>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" placeholder="Phone Number" ng-model="applyctrl.applyprop.phone" required  class="form-control"/>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" placeholder="Job Title" ng-model="applyctrl.applyprop.jobtitle" required  class="form-control"/>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" placeholder="Age" ng-model="applyctrl.applyprop.age" required  ng-pattern="/^([1-9][0-9]*)$/" class="form-control"/>
								</div>
								<div class="form-group col-sm-12 m-t-10">
									<textarea auto-size placeholder="Tell me a little about yourself" ng-model="applyctrl.applyprop.description"  required  class="form-control"></textarea>
								</div>
							</div>
							<div class="col-sm-6" >
								<h3>Time Slots available</h3>
								<div class="table-responsive">
									<table class="table">
										<thead >
											<tr>
												<th>Date</th>
												<th>Time</th>
												<th>Select</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="(key, x) in applyctrl.applyprop.availableslots" >	
												<td>{{x.date | amDateFormat:'dddd, MMMM Do YYYY'}}</td>
												<td>{{x.fromtime | amDateFormat:'h:mm A'}} - {{x.to| amDateFormat:'h:mm A'}}</td>
												<td>
													<label class="radio">
														<input type="radio" required  ng-model="applyctrl.applyprop.datetimeslot" ng-value="{{key}}"  name="datetimeslot" value="{{key}}">
														<i class="input-helper"></i>											
													</label>
												</td>
											</tr>
										</tbody>
										
									</table>							
								</div>							
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12 text-center">
								<button type="submit" ng-disabled="applypropForm.$invalid"  class="btn btn-success">Send</button>
							</div>
							
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>	
		</div>
	</section>
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
</script>  
        