
 <header data-ng-include="'views/template/publicheader.html'" ></header>       
      
        <!-- Login -->
        <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
            <div class="input-group m-b-20">
			</div>
			<form name="loginForm" ng-submit="lctrl.loginUser(user)" role="form" novalidate>
				<div class='loginmsgvalidate' ng-if="$root.error != ''"><div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div></div>
				<div class="input-group m-b-20">
					<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
					<div class="fg-line">
						<input type="text" id="loginemail" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'loginemail' || $root.invalid === 'all')) }" required ng-model="user.email" name="email" class="form-control" placeholder="Email">
					</div>
				</div>

				<div class="input-group m-b-20">
					<span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
					<div class="fg-line">
						<input type="password" id="loginpwd" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'loginpwd' || $root.invalid === 'all')) }" required ng-model="user.password" name="password" class="form-control" placeholder="Password">
					</div>
				</div>
				<div class="clearfix"></div>
				
				<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success pull-right"> Sign In <i class="zmdi zmdi-arrow-forward"></i></button>
                                <div class="clearfix"></div>
                                <p class='text-center'><a data-block="#l-forget-password" data-ng-click="lctrl.login = 0; lctrl.forgot = 1" href='javascript:void(0);' class='a-title'>Forgot Password?</a></p>
                                <hr>
                                <p class='text-center'>Don't have an account yet?</p>
                                <a href='javascript:void(0);' data-block="#l-register" class="btn btn-block bgm-cyan waves-effect" data-ng-click="lctrl.forgot = 0; lctrl.register = 1;lctrl.login = 0">Sign Up <i class="zmdi zmdi-arrow-forward"></i></a>
			</form>
                </div>

        <!-- Register -->
        <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1">			
			<form name="regForm" ng-submit="lctrl.registerUser(lctrl.reguser)" role="form" novalidate>
				<div class='regmsgvalidate' ng-if="$root.error != ''"><div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div></div>	
				<div class='regmsgvalidate' ng-if="$root.success != ''"><div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div></div>				
			   <div class="form-group text-center" >
					<label class="radio radio-inline">
						 <input type="radio" required ng-model="lctrl.reguser.usertype" ng-value="1"  name="usertype" value="1">
						<i class="input-helper"></i>
						Landlord
					</label>
					<label class="radio radio-inline">
						<input type="radio" required ng-model="lctrl.reguser.usertype" ng-value="0"  name="usertype" value="0">
						<i class="input-helper"></i>
						Tenant
					</label>
				</div>
			   <div class="form-group m-b-10" style='display: inherit;float: left;width: 100%;'>                
					<div class="col-sm-6 col-xs-12 m-b-10">
						<input type="text" id="fname" required ng-model="lctrl.reguser.first" name="first" class="form-control" placeholder="First Name"> 
					</div>
					<div class="col-sm-6 col-xs-12 m-b-10">
						<input type="text" id="lname" required ng-model="lctrl.reguser.last" name="last" class="form-control" placeholder="Last Name"> 					
					</div>
				</div>

				<div class="form-group"  style='display:inherit;float: left;width: 100%;'>
					<div class="col-sm-12">
						<input type="text" id="regemail" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regemail')) }" required ng-model="lctrl.reguser.email" name="email" class="form-control" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group m-b-20"  style='display: inherit;float: left;width: 100%;'>
					<div class="col-sm-6 col-xs-12 m-b-10">
						<input type="password" id="regpwd" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regpwd')) }"  required ng-model="lctrl.reguser.pass" name="pass" class="form-control" placeholder="Password">
					</div>
					<div class="col-sm-6 col-xs-12 m-b-10">
						<input type="password" id="regcpwd" data-ng-class="{ 'invalidField': ($root.invalid != '' && ($root.invalid === 'regcpwd')) }"  required ng-model="lctrl.reguser.cpass" name="cpass" class="form-control" placeholder="Confirm Password">
					</div>
				</div>
				<div class="form-group col-sm-12 m-b-20"  style='display: inherit;float: left;'>
					<span>By creating an account, you agree to <a target="_blank"   href='#/termsofuse'>Terms of use</a></span> 
				</div>
				<div class="clearfix"></div>
				<!-- <div class="form-group col-sm-12 m-b-20"  style='display:-webkit-box;'> -->
					<!-- <span>Already have an account? <a href="" data-block="#l-login"  ng-click="lctrl.register = 0; lctrl.login = 1">Login</a></span>  -->
				<!-- </div> -->
			
				<!-- <div class="checkbox">
					<label>
						<input type="checkbox" value="">
						<i class="input-helper"></i>
						Accept the license agreement
					</label>
				</div>  -->

				<button type="submit" ng-disabled="regForm.$invalid"  class="btn btn-success pull-right">Sign Up <i class="zmdi zmdi-arrow-forward"></i></button>
			</form>
            <div class="clearfix"></div>
                            <hr>
                            <p class='text-center'>Already have an account?</p>
                                <a href='javascript:void(0);'  data-block="#l-login" class="btn bgm-cyan btn-block waves-effect" data-ng-click="lctrl.forgot = 0; lctrl.register = 0; lctrl.login = 1">Sign In <i class="zmdi zmdi-arrow-forward"></i></a>
			</div>

        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1">
                      <form name="forgotpwdForm" ng-submit="lctrl.forgotpwdmail(lctrl.forgotuser)" role="form" novalidate>
				<div class='msgvalidate' ng-if="$root.error != ''"><div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div></div>	
				<div class='msgvalidate' ng-if="$root.success != ''"><div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div></div>
				<p class="text-justify">Please provide the email address that you used when you signed up for your account. We will send you an email that will allow you to reset your password.</p>
				<div class="input-group m-b-20">
					<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
					<div class="fg-line">
						<input type="text" class="form-control" placeholder="Email Address" required ng-model="lctrl.forgotuser.email" name="email" >
					</div>
				</div>
				<button type="submit" ng-disabled="forgotpwdForm.$invalid"  class="btn btn-success pull-right">Submit <i class="zmdi zmdi-arrow-forward"></i></button>
			</form>
            <div class="clearfix"></div>
                            <hr>
                            <p class='text-center'>You remember your password?</p>
                                <a href='javascript:void(0);'  data-block="#l-login" class="btn bgm-cyan btn-block waves-effect" data-ng-click="lctrl.forgot = 0; lctrl.register = 0; lctrl.login = 1">Sign In <i class="zmdi zmdi-arrow-forward"></i></a>
        </div>

<footer data-ng-include="'views/template/publicfooter.html'"></footer>