


        <!-- Login -->
        <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
            <div class="input-group m-b-20">
				<h2> Log In </h2>
			</div>
			<form name="loginForm" ng-submit="lctrl.loginUser(user)" role="form" novalidate>
				<div class="input-group m-b-20">
					<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
					<div class="fg-line">
						<input type="text" required ng-model="user.email" name="email" class="form-control" placeholder="Email">
					</div>
				</div>

				<div class="input-group m-b-20">
					<span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
					<div class="fg-line">
						<input type="password" required ng-model="user.password" name="password" class="form-control" placeholder="Password">
					</div>
				</div>
				
				<!--<div class="form-group m-b-20">
					
				  <botdetect-captcha styleName="angularBasicCaptcha"></botdetect-captcha>

				  <label>
					<span>Retype the characters from the picture:</span>
					<input type="text" name="captchaCode" ng-model="captchaCode" correct-captcha id="captchaCode" autocomplete="off">
				  </label>


				  <div class="error" ng-show="basicForm.captchaCode.$invalid && !basicForm.captchaCode.$pristine">
					Incorrect code.
				  </div>
				</div>
				-->
				<div class="clearfix"></div>
				
				<!-- <div class="checkbox">
					<label>
						<input type="checkbox" value="">
						<i class="input-helper"></i>
						Keep me signed in
					</label>
				</div>  -->

				<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
			</form>
            <ul class="login-navigation">
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">Register</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">Forgot Password?</li>
            </ul>
        </div>

        <!-- Register -->
        <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1">
			<div class="form-group m-b-20">
				<h2>Signup, it's free </h2>
			</div>
			<form name="regForm" ng-submit="lctrl.registerUser(reguser)" role="form" novalidate>
		   <div class="">
                <label>
                    <input type="radio" required ng-model="reguser.usertype" ng-value="1"  name="usertype" value="1">
                    Landlord
					<input type="radio" required ng-model="reguser.usertype" ng-value="0"  name="usertype" value="">
                    Tenant
                </label>
            </div>
		   <div class="form-group m-b-20">                
                <div class="fg-line">
                    <input type="text" required ng-model="reguser.first" name="first" class="form-control" placeholder="First Name"> 
					<input type="text" required ng-model="reguser.last" name="last" class="form-control" placeholder="Last Name"> 					
                </div>
            </div>

            <div class="form-group m-b-20">
                <div class="fg-line">
                    <input type="text" required ng-model="reguser.email" name="email" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <div class="form-group m-b-20">
                <div class="fg-line">
                    <input type="password" required ng-model="reguser.pass" name="pass" class="form-control" placeholder="Password">
                    <input type="password" required ng-model="reguser.cpass" name="cpass" class="form-control" placeholder="Confirm Password">
                </div>
            </div>
			<div class="form-group m-b-20">
				<span>By creating an account, you agree to <a href='#'>Terms of use</a></span> 
			</div>
            <div class="clearfix"></div>
			
			<div class="form-group m-b-20">
				<span>Already have an account? <a href="" data-block="#l-login"  ng-click="lctrl.register = 0; lctrl.login = 1">Login</a></span> 
			</div>
			
            <!-- <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
            </div>  -->

            <button type="submit" ng-disabled="regForm.$invalid"  class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">Forgot Password?</li>
            </ul>
        </div>

        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1">
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo lorem fringilla enim feugiat commodo sed ac lacus.</p>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Login</li>
                <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">Register</li>
            </ul>
        </div>

        