
<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>

<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
			<div class="block-header text-center">
				<h2>Viewing Schedule</h2>				
				
            </div>			
			<div class="card white-block p-20">
				<div class="card-header">
		            <label class="checkbox checkbox-inline m-r-20">
		                <input type="checkbox" value="option1">
		                <i class="input-helper"></i>
		                Property 1
		            </label>
		            <label class="checkbox checkbox-inline m-r-20">
		                <input type="checkbox" value="option1">
		                <i class="input-helper"></i>
		                Property 2
		            </label>
		            <label class="checkbox checkbox-inline m-r-20">
		                <input type="checkbox" value="option1">
		                <i class="input-helper"></i>
		                Property 3
		            </label>
	         	</div>
				<div class="card-body">
					<div class="table-responsive">
						<table ng-table-dynamic="schedulectrl.tableSorting with schedulectrl.cols"  class="table table-striped table-vmiddle">
							<tr ng-repeat="(key,w) in schedulectrl.tabledata">
								<td ng-repeat="col in schedulectrl.cols">{{w[col.field]}}</td>
								<td>
									<a class="btn btn-xs btn-success"  ng-click="schedulectrl.confirmschedule(key)">Confirm</a>
									<a class="btn btn-xs btn-danger"  ng-click="schedulectrl.cancelschedule(key)">Cancel</a>
									
								</td>		           
							</tr>
						</table>		               
		            </div>
        		</div>
			</div>

			<!-- Calendar -->
                <div id="calendar-widget" data-full-calendar></div>
		</div>				
    </section>
    
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>


        