
<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>

<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
			<div class="block-header text-center">
				<h2>Viewing Schedule</h2>				
				
            </div>
			<div class="loader" ng-if="tschedulectrl.loader">
	            <div class="preloader pl-xl">
	                <svg class="pl-circular" viewBox="25 25 50 50">
	                    <circle class="plc-path" cx="50" cy="50" r="20"/>
	                </svg>
	            </div>
	      	</div>
			<div class="card white-block">
				<div class="card-body">
		            <div class="table-responsive">
						<table ng-table-dynamic="tschedulectrl.tableSorting with tschedulectrl.cols"  class="table table-striped table-vmiddle">
							<tr ng-repeat="(key,w) in tschedulectrl.tabledata">
								<td ng-repeat="col in tschedulectrl.cols">{{w[col.field]}}</td>
								<td ng-repeat="col in tschedulectrl.extracols">
									<a class="btn btn-xs bgm-red" ng-hide="w.schedulestatus == 'cancelled'"  ng-click="tschedulectrl.cancelschedule(w.scheduleID)">Cancel</a>
								</td>		           
							</tr>
                                                        <tr ng-if="tschedulectrl.schedulesavail == 0"><td colspan='4'>
                                                                No pending applications yet </td>
                                                        </tr>
						</table>						
		            </div>          
        		</div>
			</div>
			<!-- Calendar -->
                <div id="calendar-widget" ng-if="tschedulectrl.showCal" data-full-calendar calendardata="tschedulectrl.calendardata"></div>
		</div>				
    </section>
    
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
<script type="text/javascript">
	Waves.init();
	Waves.attach('.btn');
</script>  

        