<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>

<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
            <div class="block-header text-center">
                <h2>Tenant Dashboard</h2>
            </div>
			<div class="row">
				<div class="col-sm-6">
					<div id="pie-charts" class="dash-widget-item pt-inner">
						<div class="pti-header bgm-lightblue">
							<div class="text-center">
								<div class="main-pie home_block">
									<i class="zmdi zmdi-home zmdi-hc-fw"></i>
									<h1 class="text-bold">30</h1>
									<div class="ptih-title">Viewing Scheduled</div>
									
								</div>
							</div>
						</div>				
					</div>
				</div>
				<div class="col-sm-6">
					<div id="pie-charts" class="dash-widget-item  pt-inner">
						<div class="pti-header bgm-cyan">
							<div class="text-center">
								<div class="main-pie home_block">
									<i class="zmdi zmdi-alarm-check zmdi-hc-fw"></i>
									<h1 class="text-bold">10</h1>
									<div class="ptih-title">Applications Submitted</div>
								</div>
							</div>
						</div>				
					</div>
				</div>
				<div class="col-sm-6">
					<div id="pie-charts" class="dash-widget-item  pt-inner">
						<div class="pti-header bgm-cyan">
							<div class="text-center">
								<div class="main-pie home_block">
									<i class="zmdi zmdi-eye zmdi-hc-fw"></i>
									<h1 class="text-bold">1</h1>
									<div class="ptih-title">Active Properties</div>
								</div>
							</div>
						</div>				
					</div>
				</div>
				<div class="col-sm-6">
					<div id="pie-charts" class="dash-widget-item pt-inner">
						<div class="pti-header  bgm-lightblue">
							<div class="text-center">
								<div class="main-pie home_block">
									<i class="zmdi zmdi-layers zmdi-hc-fw"></i>
									<h1 class="text-bold">20</h1>
									<div class="ptih-title">Applicants Competing</div>
								</div>
							</div>
						</div>				
					</div>
				</div>
				<!-- <div class="col-sm-12"> -->
					<!-- <h2>Your Showings</h2> -->
					<!-- <ul> -->
						<!-- <li>Sat, Nov 26,2017: 2pm - 4pm</li> -->
						<!-- <li>Fri, Nov 21,2017: 1pm - 5pm</li> -->
					<!-- </ul> -->
				<!-- </div> -->
			</div>
            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>
