
<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>

<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
			<div class="block-header text-center" ng-hide="!propctrl.propsavail">
				<h2>Your Properties <a href="#/addprop" class="btn bgm-green waves-effect pull-right"> Add Property </a></h2>				
				<!-- <div class='message' ng-if="$root.error != ''"><div class="alert alert-danger alert-dismissable fade in">{{$root.error}}</div></div>	 -->
				<!-- <div class='message' ng-if="$root.success != ''"><div class="alert alert-success alert-dismissable fade in">{{$root.success}}</div></div> -->
            </div>

            <div class="add_property_block">
				<div class="card white-block bgm-cyan p-20 m-t-30" ng-show="!propctrl.propsavail">
					<div class="card-header text-center">
						<div class="property-icon m-b-20"><i class="zmdi zmdi-balance zmdi-hc-fw"></i></div>
						<h1>Add Properties</h1>
						<h3>Add a property to start collecting rent, market a vacancy, or collect applications.</h3>
	                	<a href="#/addprop" class="btn btn-lg waves-effect m-t-20">Add a Property</a>
		         	</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="col-md-6 property_view" ng-repeat="(key, x) in propctrl.viewprops" ng-show="propctrl.propsavail">
						<div class="card white_block p-10">
							<div class="property_thumb">
								<img class="img-responsive" src="{{x.propimg}}" >
							</div>

							<div class="property_detail">						
								<h3>{{x.address}} </h3>
        						<div class="toggle-switch p-t-5 p-b-5" data-ts-color="" ng-show="x.propstatus===true">
			                        <span>ACTIVE</span> <input ng-click="propctrl.toggleSwitch(key)" id="active{{key}}" type="checkbox" hidden="hidden">
			                        <label  for="active{{key}}" class="ts-helper m-l-10 m-r-10"></label><span>INACTIVE</span>
			                    </div>
								<div class="toggle-switch p-t-5 p-b-5" data-ts-color="" ng-show="x.propstatus===false">
			                        <span>ACTIVE</span> <input ng-click="propctrl.toggleSwitch(key)" id="inac{{key}}" type="checkbox" checked="checked" hidden="hidden">
			                        <label for="inac{{key}}"  class="ts-helper  m-l-10 m-r-10"></label><span>INACTIVE</span>
			                    </div>
								<a href="#/editprop/{{key}}">Edit</a>
								<input type="hidden" disabled="true" ng-model="x.propertylink" id="propertylink"/>
								<a class="copylink_view" ><i tooltip-class="tooltip-blue" uib-tooltip="{{propctrl.copy}}" ng-copy="x.propertylink" onSuccess="propctrl.copySuccess(e)" class="zmdi zmdi-copy zmdi-hc-fw" style="font-size:25px;" ></i></a>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>				
    </section>
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>


        