
<header class="header" data-current-skin={{mactrl.currentSkin}} login-header ></header>

<section id="main">
    <aside id="sidebar"  login-sidebar data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <section id="content">

        <div class="container">
			<div class="block-header text-center">
				<h2>Your Properties <a href="#/addprop" class="btn bgm-green waves-effect pull-right"> Add Property </a></h2>				
				
            </div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="col-md-6 property_view" ng-repeat="(key, x) in propctrl.viewprops" >
						<div class="card white_block p-10">
							<div class="property_thumb">
								<img class="img-responsive" src="{{x.propimg}}" >
							</div>

							<div class="property_detail">						
								<h3>{{x.address}} </h3>
								<a href="#/editprop/{{key}}">Edit</a>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>				
    </section>
</section>

<footer id="footer" data-ng-include="'views/template/footer.html'"></footer>


        