.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.col-2.fg-line{
	width:50% !important;
	float:left;
}

.col-2.fg-line .form-control{
	display:inline-block !important;	
}

.invalidField{
	border-color: red !important;
    color: red !important;
}

.login-content:before {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #edecec;
    content: "";
    z-index: 0;
}

.header {
  text-align: left;
  background-color: #1f2833 !important;
  color: #fff;
  padding: 3px 20px;
	z-index: 999;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  min-height: 70px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.header .logo{
	color: #fff;
	width: auto;
	float: left;
}
.header .logo img {
    width: 110px;
	image-rendering: -webkit-optimize-contrast;
}
.login-menu{
	width: auto;
	float: right;
    list-style: none;
    margin: 14px 0;
}
.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header ul li{
    display: inline-block; 
}
.header ul li a{
	padding: 10px;
    display: block;
	color: #fff;
	font-size: 13px;
	letter-spacing: 3px;
	font-weight: 600;
}
.header ul li a:hover {
    opacity: .7;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	background-color: transparent;
}
.header ul li a .notification {
    font-size: 18px;
    position: relative;
}
.header ul li a .notification .value {
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: -8px;
    color: #000;
    font-size: 12px;
    border-radius: 50px;
    right: -13px;
}
.header ul li a.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
	padding: 5px 15px;
	position: relative;
	margin-left: 20px;
}
.header ul li a.button:before{
	content: '\f2fb';
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    top: 50%;
    font-size: 23px;
    left: 20%;
    transform: translate(-20%, -50%);
	opacity: 0;
}
.header ul li a.button:hover{
	border-color: #009999;
	padding: 5px 20px;
}
.header ul li a:hover.button:before{
	opacity: 1;
    transform: translate(0%, -50%);
    left: 7px;
    transition: all 0.3s linear;
}
ul.header-inner{
    padding: 17px 0;
}
ul.header-inner .logo img {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
ul.header-inner li a {
    padding: 0;
}
ul.header-inner li a.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  padding: 5px 15px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
ul.header-inner li a.button:hover{
  border-color: #009999;
  padding: 5px 20px;
}
ul.header-inner li a:hover.button:before{
  opacity: 1;
    transform: translate(0%, -50%);
    left: 7px;
    transition: all 0.3s linear;
}
.navbar-toggle .icon-bar{
  background-color: #fff;
}
.form_btns{
	width: 100%;
	position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}
.sidebar-inner .main-menu:last-child{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.block-header > h2 {
    font-size: 20px;
}
.white_block{
  float: left;
  width: 100%;
}
.property_view{
  max-height: 200px;
}
.property_view .white_block {
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
}
.property_view .white_block p {
    margin-bottom: 0;
}
.property_thumb {
  float: left;
  width: 100px;
  height: 100%;
  margin-right: 20px;
}
.property_thumb img {
    width: auto;
    height: 100px;
    margin: 0 auto;
    image-rendering: pixelated;
}
.property_detail {
    display: grid;
}
.property_detail h3 {
    margin-top: 0;
    font-size: 18px;
    color: #1aa1ab;
}

.property-icon i {
  font-size: 60px;
  color: #fff;
  border: 4px solid #efefef;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 110px;
}
.add_property_block h1{
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}
.add_property_block h3{
  font-size: 20px;
  color: #efefef;
}
.add_property_block .btn {
  font-size: 20px;
  background-color: transparent;
  border:2px solid #fff;
  color: #fff ;
  font-weight: 600;
  text-transform: initial;
  padding: 16px 40px;
  border-radius: 6px;
  transition: all 0.3s linear;
}
.add_property_block .btn:hover {
  background-color: #fff;
  color: #03A9F4;
  transition: all 0.3s linear;
}
.ts-helper.ac-inac{
  background-color: rgba(76, 175, 80, 0.5);
}
.ts-helper.ac-inac:before{
  background-color: #4CAF50;
}

.ts-helper.ac-ac{
  background-color: rgba(244, 67, 54, 0.5);
}
.ts-helper.ac-ac:before{
  background-color: rgb(244, 67, 54);
}


/*************** Dashboard ***************/
.home_block{
	padding: 0px 0;
}
.home_block i {
  font-size: 80px;
  color: rgba(255,255,255,0.7);
}
.home_block h1{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
}
.home_block .ptih-title{
  font-size: 16px;
}
#content{
  transition: all 0.3s linear;
}
@media (min-width: 1200px){
  #content .container {
      width: 95%;
      max-width: 1170px;
  }
}
@media screen and (min-width: 769px){
	.toggled ~ #content{
		padding-left: 280px;
		transition: all 0.3s linear;
	}
}
@media screen and (max-width: 767px){
	.login-menu {
		width: 100%;
		float: initial;
		padding: 0;
	}
	.login-menu ul li {
		display: flex;
	}
	.login-menu ul li a.button{
		margin-left: 10px;
	}
	.header .logo img {
		width: 70px;
	}
  .add_property_block h1{
    font-size: 30px;
  }
  .add_property_block h3{
    font-size: 16px;
  }
}


.dash-widget-item{
	 min-height: 227px !important;
}

.easy-pie .percent:after {
    content: "" !important;
}

.login-navigation > li {
    text-transform: capitalize;
}  

.header-inner ul li button.button {
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
    background: #009999;
    border: 2px solid;
	color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.7em!important;
	padding: 5px 15px;
	position: relative;
	margin-left: 20px;
}

.text-bold{
	font-weight:700 !important;
}
@media (max-width: 480px){
	.lc-block {
		background: #fff;
		box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
		border-radius: 2px;
		max-width: 500px;
		width: 80%;
		display: inline-block;
		vertical-align: middle;
		top: 0%;
		position: relative;
		left: 10%;
		transform: translate(0%, 20%);
	}
	#sidebar{
		width: 200px;
	}
	#sidebar .sidebar-inner {
		width: 200px;
	}
}